/* animation */
body {
    font-family: Roboto;
    font-weight: 400;
    color: #000000;
}

.table, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color: #000000;
}
.font-small{
    font-size: 12px;
}
.txt-black{
    color: #606161;
}
.text-mute{
    font-size: 12px;
    color: #AFAFAF;
}
.txt-white{
    color: #fff;
}
.bg-gradient-main {
    background: linear-gradient(87deg,#da3e52 0,#f34e63 100%)!important;
}
.bg-login, .bg-main {
    background-color: #1F262F !important;
}
.fill-login {
    fill: #E4B872;
}
.text-main{
	color: #00A9A0 !important;
}
.bg-gradient-header{
	background: #00A9A0;
}
.btn-main:not(:disabled):not(.disabled).active, .btn-main:not(:disabled):not(.disabled):active, .show>.btn-main.dropdown-toggle {
    color: #fff;
    border-color: #e24155;
    background-color: #d93247 !important;
}
.btn-main {
    color: #fff;
    border-color: #00A9A0;
    background-color: #00A9A0;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn-main:hover {
    color: #fff;
    border-color: #00A9A0;
    background-color: #00A9A0;
}
.custom-control-input:checked~.custom-control-label::before{
	border-color: #00A9A0;
    background-color: #00A9A0;
}

.sidenav-header{
    height: auto;
    background: #00A9A0;
}
.sidenav .navbar-brand {
    text-align: center;
	width: 100%;
}
.login-page{
    -ms-flex-align: center;
    align-items: center;
    background: #e9ecef;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
}
.login-box{
    width: 360px;
}
.login-logo{
    font-size: 2.1rem;
    font-weight: 300;
    margin-bottom: .9rem;
    text-align: center;
}
.login-card-body{
    background: #fff;
    border-top: 0;
    color: #666;
    padding: 20px;
}
.login-box-msg {
    margin: 0;
    padding: 0 20px 20px;
    text-align: center;
}
.sidenav .navbar-brand {
    padding: 1rem;
}
#frm-search-checkin {
	max-width: 300px;
	margin: 30px auto 0;
}
.navbar-top .navbar-brand{
    display: block !important;
}
.back-to-top {
    position: fixed;
}
.carousel-control-next, .carousel-control-prev{
    width: 30px;
}
.carousel-control-next .material-icons, .carousel-control-prev .material-icons{
    font-size: 50px;
}
.no-dropdown-toggle:after{
    display: none !important;
}
.fz-20px{
    font-size: 20px;
}
.icon-header{
    font-size: 40px;
    width: auto !important;
    height: auto !important;
}
.custom-control-label:after, .custom-control-label:before{
    top: 0;
}
.form-group .form-control.is-valid{
    box-shadow: none !important;
}

.tab-content .tab-pane .td-actions {
    display: table-cell;
}
.bootstrap-timepicker-widget .bootstrap-timepicker-hour.form-control, .bootstrap-timepicker-widget .bootstrap-timepicker-minute.form-control {
	background-image: none;
}
.bootstrap-timepicker-widget table td a:hover{
    color: #fff;
    background: #9c27b0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #9c27b0;
}
.no-pointer-events{
	pointer-events: none;
}

form .form-group select.form-control {
    position: static;
    -webkit-appearance: menulist !important;
}
.bmd-form-group .bmd-label-static{
	position: static;
	font-size: 14px;
	line-height: 1.42857;
}

.card-full-height{
    height: calc(100% - 30px);
}

.tab-icon-header h4.card-title{
    border-radius: 3px;
    line-height: 24px;
    padding: 10px 15px;
    margin-top: 0 !important;
}

.tab-icon-header .active h4.card-title{
    background: linear-gradient(60deg,#ec407a,#d81b60);
    color: #fff !important;
}
.nav-pills .nav-link {
    padding: .5rem 0.5rem;
}

/* ---- END SELECT 2 ----- */
.carousel-control-next, .carousel-control-prev,
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover{
	color: #9c27b0;
	cursor: pointer;
	width: 20px;
}


.filters .input-group .input-group-text{
    padding: 0 5px;
}

.main-content .container-fluid, .main-content .container-lg, .main-content .container-md, .main-content .container-sm, .main-content .container-xl {
    padding-right: 10px!important;
    padding-left: 10px!important;
}
.empty {
    margin-left: 15px;
}

.append-btn i{
    font-size: 34px;
}
.block-event-date {
    border-radius: 3px;
    padding: 10px 15px;
    position: absolute !important;
    top: 0;
    opacity: 0.85;
    color: #fff;
}
.block-event-time {
    position: absolute !important;
    opacity: 0.8;
    right: 0;
}
.block-event-date .day, .block-event-date .month {
	display: block;
	text-align: center;
}

.block-event-date .day{
    font-size: 30px;
    font-weight: 600;
    min-width: 50px;
}
.block-event-date .month{
    font-size: 15px;
    font-weight: normal;
}


/* new layout */
.card .table td, .card .table th {
    padding: 0.5rem;
}
.card-header, .card-body, .card-footer {
    padding: 1rem 1rem;
}
.form-group {
    margin-bottom: 1rem;
}
.main-content .navbar-top {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
    padding: .275rem 1.5rem;
}

.input-group > .select2-container--krajee-bs4{
    flex: 1 1;
}

.select2-container.select2-container--krajee-bs4.select2-container--open{
    z-index: 9999;
}

.card .card-body + .card-footer .stats, .card .card-footer .stats {
    color: rgb(153, 153, 153);
    font-size: 12px;
    line-height: 22px;
}

.navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand>img{
    max-height: 4rem;
}
.copyright {
    font-size: .875rem;
}
.pagination{
    justify-content: center!important;
    margin: 15px 0;
}

.block-top-border{
    border-top: 1px solid rgba(0,0,0,.05);
}

.item-detail {
    margin-bottom: 15px;
    font-size: 14px;
}

.item-label {
    margin-bottom: 5px;
}
.btn-update-absolute{
    position: absolute;
    right: 0;
    top: 10px;
}
.g-sidenav-hidden .sidenav .navbar-brand{
	padding: 0.25rem;
}
.g-sidenav-hidden .sidenav .navbar-brand{
	display: block;
}

/*.custom-control-label::before, .custom-control-label::after {*/
    /*left: -1.25rem;*/
/*}*/
/*.custom-control {*/
    /*padding-left: 1.25rem;*/
/*}*/

.form-group.row label{
    display: flex;
    margin-bottom: 0;
    align-items: center;
}
.btn-dark{
    background: #455A64;
    color: #fff;
    border-color: #455A64;
    border-radius: 10px;
    padding: 8px 40px;
}











html,
body {
    color: #606161;
}

.table, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #000000;
}
h1{
    /*font-size: 60px;*/
}
a{
    color: #606161;
}
a:hover {
    color: #00A9A0;
    text-decoration: none;
}
p{
    margin-bottom: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-50{
    margin-top: 50px;
}
.mt-70{
    margin-top: 70px;
}
.mr-15{
    margin-right: 15px;
}
.alert-primary {
    color: #FFF;
    background-color: #00A9A0;
    border-color: #00A9A0;
}
.alert-danger {
    color: #fff;
    border-color: #f75676;
    background-color: #f75676;
}
/*.btn{
    padding: 13px 74px;
    line-height: 22px;
    font-size: 18px;
    border-radius: 8px;
}*/
.btn-rounded{
    border-radius: 25px;
}
.btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.btn-primary {
    color: #fff;
    border-color: #00A9A0;
    background-color: #00A9A0;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn-primary:hover, .btn-primary:active, .btn-next-schedule:hover, .btn-next-schedule:active{
    color: #fff;
    border-color: #00A9A0;
    background-color: #00A9A0;
}
.btn-dark-blue {
    color: #fff;
    border-color: #455A64;
    background-color: #455A64;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn-dark-blue:hover, .btn-dark-blue:active {
    color: #fff;
    background: #455A64;
}
.btn-orange{
    color: #fff;
    border-color: #F26522;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    background: #F26522;
}
.btn-orange:hover, .btn-orange:active {
    color: #fff;
    background: #F26522;
}
.btn-default{
    border-color: #f7fafc;
    background-color: #f7fafc;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.text-gray {
    color: #afafaf;
}
.text-white{
    color: #fff;
}
.text-black {
    color: #000;
}
.text-primary{
    color: #00A9A0 !important;
}
.text-blue{
    color: #395FE7;
}
.text-orange{
    color: #F26522;
}
.text-dark-blue{
    color: #455A64;
}
.text-mute {
    font-size: 14px;
    color: #AFAFAF;
}
.text-606161{
    color: #606161;
}
.text-light-green{
    color: #18B027;
}
.text-small {
    font-size: 14px;
}
.bg-danger {
    background: #ff0000;
}
.font-weight-medium{
    font-weight: 500 !important;
}
.label-text{
    margin-right: 15px;
    font-weight: bold;
}
.form-control{
    border: 1px solid #ddd;
    height: 40px;
}
.form-control:focus {
    color: #495057;
    border-color: #00A9A0;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 169 160 / 25%);
}

.nav-sidebar > .nav-item {
    margin: 10px 15px;
    position: relative;
}

.nav-sidebar .nav-item > .nav-link {
    border-radius: 15px 20px;
    padding: 15px 20px;
}
.nav-sidebar .nav-link img{
    width: 50px;
}
.nav-sidebar .nav-treeview .nav-item > .nav-link{
    padding-left:40px;
}
.nav-sidebar .nav-link p {
    display: inline-flex;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    height: 60px;
    align-items: center;
    vertical-align: middle;
}
.nav-sidebar .nav-treeview .nav-link p {
    font-weight: 400;
    color: #606161;
}

.dashboard {
    padding: 20px 15px;
}
#statistic{
    margin-bottom: 40px;
}
.dashboard h5{
    font-size: 20px;
    color: #000;
    font-weight: 400;
    margin-bottom: 30px;
}
.statistic-block{
    border: 5px solid #EBEBEB;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    visibility: hidden;

}
.statistic-block h6{
    font-size: 24px;
    color: #000;
    font-weight: bold;
}
.statistic-block .count{
    font-weight: bold;
}

/*chart*/
.ct-line {
    stroke: #000;
}
.ct-vertical ~ .ct-vertical {
    stroke: none;
}
.ct-horizontal ~ .ct-horizontal {
    stroke: none;
}
.ct-grid{
    stroke-dasharray: 0;
    stroke: #000;
}
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #395FE7;
}

/*form*/
.form-group.row label {
    display: flex;
    margin-bottom: 0;
    align-items: center;
}
/*input::-webkit-input-placeholder { !* Edge *!*/
/*font-size: 14px;*/
/*}*/
/*input:-ms-input-placeholder { !* Internet Explorer 10-11 *!*/
/*font-size: 14px;*/
/*}*/
/*input::placeholder {*/
/*font-size: 14px;*/
/*}*/
/*list view scroll*/
.ias-noneleft {
    display: none !important;
}


/* profile page */
.profile-form{
    max-width: 470px;
    margin: 50px auto;
}
/*.setting-index ul.nav {*/
    /*border: 1px solid #e6e6e6;*/
    /*border-left: 0;*/
    /*border-top: 0;*/
/*}*/
/*.setting-index ul.nav li a{*/
    /*padding: 30px 40px 10px;*/
    /*font-size: 30px;*/
    /*position: relative;*/
    /*color: #afafaf;*/
/*}*/
/*.setting-index ul.nav li a.active, .setting-index ul.nav li a:hover{*/
    /*color: #616161;*/
/*}*/
/*.setting-index a.nav-link.active:after,*/
/*.setting-index a.nav-link:hover:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
    /*border-bottom: 3px solid #FF0000;*/
    /*width: 80px;*/
    /*color: #616161;*/
/*}*/
/*h6.label-group{*/
    /*font-size: 24px;*/
    /*font-weight: bold;*/
/*}*/
/*!*upload item*!*/
/*.upload-kit{*/
    /*display: flex;*/
    /*flex-flow: wrap;*/
/*}*/
/*.upload-kit .upload-kit-input, .upload-single .upload-kit .upload-kit-item{*/
    /*border: 2px solid #ddd;*/
/*}*/
/*.profile-form .upload-kit .upload-kit-input{*/
    /*min-width: 100%;*/
    /*height: 220px;*/
    /*margin-right: 0;*/
    /*order: 1;*/
    /*background: url("../img/bg-upload.png") no-repeat center center;*/
/*}*/
/*.upload-single .upload-kit .upload-kit-item{*/
    /*min-width: 100%;*/
    /*height: 220px;*/
    /*margin-right: 0;*/

/*}*/
/*.upload-kit .upload-kit-item {*/
    /*border: 0;*/
    /*min-width: auto;*/
/*}*/
/*.upload-kit .files{*/
    /*float: none;*/
    /*order: 2;*/
    /*width: 100%;*/
/*}*/
/*.upload-kit .upload-kit-input .drag, .upload-kit .upload-kit-input .add{*/
    /*display: none;*/
/*}*/
/*.upload-kit .upload-kit-item .remove{*/
    /*background: none;*/
    /*color: #ff0000;*/
    /*font-weight: 400;*/
    /*font-size: 30px;*/
/*}*/
/*.upload-kit .upload-kit-item.image > img {*/
    /*border-radius: 0;*/
/*}*/
/*.col-gender{*/
    /*max-width: 150px;*/
/*}*/
/*.col-year-of-birth{*/
    /*max-width: 150px;*/
/*}*/

/*!*!* list *!*!*/
/*!*.list-header{*!*/
    /*!*margin: 40px 0;*!*/
/*!*}*!*/
/*!*.prescription-item{*!*/
    /*!*margin: 32px 0;*!*/
/*!*}*!*/
/*!*.prescription-item .card-body, .prescription-item .card-header{*!*/
    /*!*padding: 0.75rem;*!*/
    /*!*padding-left: 20px;*!*/
    /*!*padding-right: 20px;*!*/
/*!*}*!*/
/*!*.list-header{*!*/
    /*!*background: #E6E6E6;*!*/
    /*!*border: 0;*!*/
    /*!*border-radius: 0;*!*/
/*!*}*!*/
/*!*.list-header .card-body {*!*/
    /*!*padding: 7px 20px;*!*/
/*!*}*!*/
/*!*.col-total-amount {*!*/
    /*!*max-width: 140px;*!*/
/*!*}*!*/
/*!*.col-status {*!*/
    /*!*max-width: 220px;*!*/
/*!*}*!*/
/*!*.col-provider {*!*/
    /*!*max-width: 150px;*!*/
/*!*}*!*/
/*!*.col-actions {*!*/
    /*!*max-width: 290px;*!*/
/*!*}*!*/
/*!*.btn-update{*!*/
    /*!*background: #00A9A0;*!*/
/*!*}*!*/
/*!*.btn-delete{*!*/
    /*!*background: #606161;*!*/
/*!*}*!*/
/*!*.btn-expand{*!*/
    /*!*background: #F26522;*!*/
/*!*}*!*/
/*!*.btn-delete, .btn-update, .btn-expand{*!*/
    /*!*font-size: 24px;*!*/
    /*!*color: #fff;*!*/
    /*!*font-weight: 400;*!*/
    /*!*border-radius: 0;*!*/
    /*!*padding: 5px 25px;*!*/
/*!*}*!*/
/*!*.btn-delete:hover, .btn-update:hover, .btn-expand:hover{*!*/
    /*!*color: #fff;*!*/
/*!*}*!*/
/*!*.btn.btn-print {*!*/
    /*!*padding: 0;*!*/
    /*!*font-size: 18px;*!*/
    /*!*border: 0;*!*/
    /*!*color: #263238;*!*/
/*!*}*!*/
/*!*.btn.btn-print img{*!*/
    /*!*margin-right: 5px;*!*/
/*!*}*!*/
/*!*.btn.btn-print:hover, .btn.btn-print:active {*!*/
    /*!*box-shadow: none;*!*/
/*!*}*!*/

/*!*.prescription-form input[type=number]{*!*/
    /*!*text-align: center;*!*/
/*!*}*!*/

/*!*.alert-dismissible .close {*!*/
    /*!*padding: 10px;*!*/
/*!*}*!*/
.readonly{
    pointer-events: none;
}
.readonly .select2-container--krajee-bs4 .select2-selection--single{
    background: #e9ecef;
}
.datetimepicker table{
    min-width: 15rem;
    font-size: 14px;
}
.datetimepicker table tr td, .datetimepicker table tr th {
    width: 2rem;
    height: 2rem;
}
.view-printed{
    padding: 0 15px;
    min-width: 576px;
}
/*!*!*schedule page*!*!*/
/*!*.examination-schedule-index{*!*/
    /*!*padding: 15px 0;*!*/
/*!*}*!*/
/*!*.examination-schedule-index h3{*!*/
    /*!*font-size: 45px;*!*/
    /*!*font-weight: bold;*!*/
    /*!*margin-left: 5px;*!*/
    /*!*margin-top: 10px;*!*/
/*!*}*!*/
/*!*.empty-schedule{*!*/
    /*!*margin-left: 5px;*!*/
    /*!*font-size: 30px;*!*/
/*!*}*!*/
/*!*.examination-schedule-index .schedule{*!*/
    /*!*font-size: 30px;*!*/
    /*!*height: 100%;*!*/
/*!*}*!*/
/*!*.div-padding-left{*!*/
    /*!*padding-left: 40px;*!*/
    /*!*position: relative;*!*/
/*!*}*!*/

/*!*.div-padding-left i, .div-padding-left span{*!*/
    /*!*position: absolute;*!*/
    /*!*left: 0;*!*/
    /*!*top: 3px;*!*/
    /*!*font-size: 30px;*!*/
/*!*}*!*/
/*!*.div-padding-left i{*!*/
    /*!*font-size: 26px;*!*/
/*!*}*!*/

/*!*--------prescription form & view---------*!*/
/*.prescription-form, .prescription-view {*/
    /*padding: 20px 0;*/
/*}*/

/*.prescription-view .block-info label.min-width {*/
    /*min-width: 80px;*/
/*}*/

/*.prescription-view table td {*/
    /*white-space: normal;*/
/*}*/

/*.prescription-view .text-sub {*/
    /*color: #263238;*/
/*}*/

/*.prescription-view table td {*/
    /*padding: 10px;*/
/*}*/

/*.prescription-view table .column-index {*/
    /*width: 40px;*/
/*}*/

/*.prescription-view table .column-dosage-form, .prescription-view table .column-amount {*/
    /*width: 80px;*/
/*}*/

/*.col-year-age {*/
    /*max-width: 200px;*/
/*}*/

/*.col-gender {*/
    /*max-width: 200px;*/
/*}*/

/*.col-use-insurance {*/
    /*max-width: 200px;*/
/*}*/

/*.col-province, .col-district, .col-ward {*/
    /*max-width: 200px;*/
    /*padding-left: 0;*/
/*}*/

/*.col-insurance-rate {*/
    /*max-width: 140px;*/
/*}*/

/*.col-insurance-number {*/
    /*max-width: 300px;*/
/*}*/

.cancel-autocomplete {
    position: absolute;
    right: 10px;
    top: 20px;
    display: none;
    z-index: 9999;
    border: 0;
    background: transparent;
}

input:read-only + button.cancel-autocomplete {
    display: block;
}

/*.medicine-item-line {*/
    /*border: 1px solid #AFAFAF;*/
    /*border-radius: 0;*/
    /*box-shadow: none;*/
    /*margin-top: 60px;*/
    /*margin-bottom: 30px;*/
/*}*/

/*.medicine-item-line > .card-body {*/
    /*padding-left: 80px;*/
/*}*/

/*.serial-number {*/
    /*line-height: 20px;*/
    /*position: absolute;*/
    /*left: 10px;*/
    /*border: 1px solid #AFAFAF;*/
    /*padding: 19px 24px;*/
    /*font-size: 18px;*/
    /*font-weight: 700;*/
    /*border-radius: 8px;*/
/*}*/

.remove-item {
    position: absolute;
    right: -1px;
    margin-right: 0 !important;
    bottom: 100%;
    background: #606161;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    border-radius: 0;
    padding: 8px 30px;
}

/*.form-group label {*/
    /*margin-right: 15px;*/
    /*font-weight: bold;*/
/*}*/

/*.total-line {*/
    /*font-size: 30px;*/
    /*margin: 25px 0;*/
/*}*/

/*.total-line span {*/
    /*font-weight: 400;*/
/*}*/

/*.heading-prescription {*/
    /*font-size: 30px;*/
    /*text-transform: uppercase;*/
    /*margin: 30px 0;*/
/*}*/

/*label.small {*/
    /*font-size: 12px;*/
    /*color: #606161;*/
    /*font-weight: 400;*/
/*}*/

/*button.remove-item:hover {*/
    /*color: #fff;*/
/*}*/

/*.col-medicine {*/
    /*max-width: calc(100% - 175px - 175px);*/
/*}*/

/*.col-dosage-form {*/
    /*max-width: 175px;*/
/*}*/

/*.col-amount {*/
    /*max-width: 175px;*/
/*}*/

/*.col-time-of-use {*/
    /*max-width: 175px;*/
/*}*/

/*.col-drugged-time {*/
    /*max-width: 180px;*/
    /*padding-left: 0;*/
/*}*/

/*.text-sub {*/
    /*color: #263238;*/
    /*font-size: 24px;*/
/*}*/

/*.custom-control-label {*/
    /*margin-right: 0 !important;*/
/*}*/

/*.custom-control-label::before {*/
    /*top: 0;*/
/*}*/

/*.custom-radio .custom-control-label::before {*/
    /*border-color: #747474;*/
    /*border-radius: 0;*/
/*}*/

/*.custom-control-input:checked ~ .custom-control-label::before,*/
/*.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before,*/
/*.custom-control-input.is-valid:checked ~ .custom-control-label::before {*/
    /*border-color: #747474;*/
    /*background-color: #747474;*/
    /*border-radius: 0;*/
/*}*/

/*.custom-radio .custom-control-input:checked ~ .custom-control-label::after,*/
/*.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {*/
    /*background-image: none;*/
/*}*/

/*.sign-space {*/
    /*height: 200px;*/
/*}*/

/*.re-examination-date {*/
    /*max-width: 250px;*/
/*}*/
/*.re-examination {*/
    /*height: 40px;*/
    /*margin-top: 20px;*/
/*}*/
/*!*autocomplete*!*/
/*.ui-menu .ui-menu-item-wrapper{*/
    /*padding:10px;*/
/*}*/
/*#ajaxCrubModal .modal-footer{*/
    /*border-top: 0;*/
/*}*/
/*!*patient page*!*/
/*.patient-index{*/
    /*padding: 20px;*/
    /*font-size: 30px;*/
/*}*/
/*.patient-item{*/
    /*position: relative;*/
    /*padding-left: 60px;*/
    /*color: #000;*/
    /*margin: 60px 0;*/
/*}*/
/*.block-patient{*/
    /*border: 1px solid #606161;*/
    /*padding: 20px;*/
    /*position: relative;*/
/*}*/
/*.patient-index .serial-number{*/
    /*padding: 5px 14px;*/
    /*top: 0;*/
    /*border-radius: 0;*/
    /*border-color: #606161;*/
    /*font-size: 30px;*/
    /*line-height: 35px;*/
    /*font-weight: 400;*/
/*}*/
/*.view-detail {*/
    /*position: absolute;*/
    /*right: -1px;*/
    /*bottom: 100%;*/
/*}*/
/*.list-prescription{*/
    /*margin-top: 40px;*/
/*}*/
/*.list-prescription .item{*/
    /*border: 1px solid #606161;*/
    /*padding: 20px;*/
    /*position: relative;*/
    /*padding-left: 60px;*/
    /*color: #000;*/
    /*margin: 60px 0;*/
/*}*/
/*.list-prescription .item:first-child{*/
    /*margin-top: 30px;*/
/*}*/
/*.list-prescription .serial-number{*/
    /*padding: 0 5px;*/
    /*border: 0;*/
    /*font-size: 30px;*/
    /*line-height: 35px;*/
    /*font-weight: bold;*/
/*}*/
/*.view-detail {*/
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 100%;*/
/*}*/
/*.patient-view{*/
    /*padding: 20px;*/
    /*font-size: 30px;*/
    /*color: #000;*/
/*}*/
/*.block-patient{*/
    /*border: 1px solid #606161;*/
    /*padding: 20px;*/
    /*margin-top: 50px;*/
    /*position: relative;*/
/*}*/
/*.btn-expand {*/
    /*background: #F26522;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 100%;*/
/*}*/
/*.right-actions{*/
    /*position: absolute;*/
    /*right: -5px;*/
    /*bottom: 100%;*/
/*}*/
/*.form-header .col-logo{*/
    /*max-width: 155px;*/
    /*margin-right: 10px;*/
/*}*/
/*.view-left-header{*/
    /*margin-top: 15px;*/
/*}*/
/*.form-header{*/
    /*margin-bottom: 45px;*/
/*}*/
/*.form-header .col-logo .upload-kit .upload-kit-input, .form-header .col-logo .upload-kit .upload-kit-item{*/
    /*height: 125px;*/
/*}*/
/*.prescription-view .form-header .col-logo img{*/
    /*height: 125px;*/
/*}*/
/*.form-header .col-logo .upload-kit .upload-kit-input{*/
    /*background: url("../img/bg-upload-logo.png") no-repeat center center;*/
/*}*/
/*.form-header .col-barcode{*/
    /*max-width: 310px;*/
    /*margin-right: 50px;*/
    /*float: right;*/
/*}*/
/*.form-header .col-barcode .upload-kit .upload-kit-input{*/
    /*background: url("../img/bg-upload-barcode.png") no-repeat center center;*/
/*}*/
/*.form-header .col-barcode .upload-kit .upload-kit-input, .form-header .col-barcode .upload-kit .upload-kit-item{*/
    /*height: 75px;*/
/*}*/
/*.prescription-view .form-header .col-barcode img{*/
    /*height: 75px;*/
/*}*/
/*.form-header .upload-kit .upload-kit-item{*/
    /*max-height: 100%;*/
    /*float: none;*/
    /*border: 2px solid #ddd;*/
/*}*/
/*.img-barcode{*/
    /*margin-bottom: 15px;*/
/*}*/
/*.kv-editable-popover .form-control{*/
    /*height: 40px;*/
/*}*/
/*.kv-editable-popover .btn-sm{*/
    /*padding: 0.25rem 0.5rem;*/
/*}*/
/*-----------------------------ipad-------------------------------*/
    /*.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {*/
        /*padding-right: 10px;*/
        /*padding-left: 10px;*/
    /*}*/

    /*.row {*/
        /*margin-right: -10px;*/
        /*margin-left: -10px;*/
    /*}*/

    /*.col {*/
        /*padding-right: 10px;*/
        /*padding-left: 10px;*/
    /*}*/

    /*.card-body {*/
        /*padding: 15px;*/
    /*}*/

    /*body {*/
        /*font-size: 14px;*/
    /*}*/

    /*h1 {*/
        /*font-size: 40px;*/
    /*}*/
    /*label {*/
        /*margin-bottom: 5px;*/
    /*}*/
    /*.text-small {*/
        /*font-size: 12px;*/
    /*}*/
    /*.btn {*/
        /*padding: 10px 40px;*/
        /*line-height: 22px;*/
        /*font-size: 16px;*/
        /*border-radius: 8px;*/
    /*}*/

    /*.main-content {*/
        /*max-width: calc(100% - 200px);*/
    /*}*/

    /*.dashboard-layout .main-content {*/
        /*max-width: calc(100% - (200px * 2));*/
    /*}*/

    /*.sidebar {*/
        /*padding: 0;*/
        /*max-width: 200px;*/
    /*}*/

    /*.nav-sidebar > .nav-item {*/
        /*margin: 10px 10px;*/
        /*position: relative;*/
    /*}*/

    /*.right-content {*/
        /*max-width: 200px;*/
        /*padding: 20px 10px;*/
    /*}*/

    /*.nav-sidebar .nav-link img {*/
        /*width: 30px;*/
    /*}*/

    /*.nav-sidebar .nav-link p {*/
        /*font-size: 20px;*/
        /*line-height: 22px;*/
        /*height: 44px;*/
    /*}*/

    /*.block-schedule {*/
        /*font-size: 16px;*/
        /*padding: 10px 10px;*/
    /*}*/

    /*.block-schedule p {*/
        /*margin-bottom: 10px;*/
    /*}*/

    /*.nav-sidebar .nav-item > .nav-link {*/
        /*border-radius: 15px;*/
        /*padding: 10px 10px;*/
    /*}*/

    /*.statistic-block h6 {*/
        /*font-size: 20px;*/
    /*}*/

    /*.clinic-name {*/
        /*font-size: 16px;*/
    /*}*/

    /*.btn-next-schedule {*/
        /*font-size: 14px;*/
        /*padding: 10px 5px;*/
    /*}*/

    /*.btn-next-schedule > span {*/
        /*color: #fff;*/
        /*height: 30px;*/
        /*width: 30px;*/
        /*display: inline-flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
        /*bottom: 70%;*/
        /*right: 0px;*/
    /*}*/

    /*.content-top h2 {*/
        /*font-size: 30px;*/
    /*}*/

    /*.navbar-search .input-group {*/
        /*max-width: 250px;*/
    /*}*/

    /*.form-control {*/
        /*border: 1px solid #ddd;*/
        /*height: 40px;*/
        /*border-radius: 12px;*/
        /*font-size: 14px;*/
        /*padding: 5px 10px;*/
    /*}*/

    /*.form-group .select2-container--krajee-bs4 .select2-selection--single {*/
        /*height: 40px;*/
    /*}*/

    /*.form-group .select2-container--krajee-bs4 .select2-selection--multiple {*/
        /*min-height: 40px;*/
    /*}*/

    /*.form-group .select2-container--krajee-bs4 .select2-selection--single .select2-selection__rendered {*/
        /*padding: 0;*/
    /*}*/

    /*.form-group .select2-container--krajee-bs4 .select2-selection--multiple .select2-selection__choice {*/
        /*margin-top: 6px;*/
        /*font-size: 14px;*/
    /*}*/

    /*.form-group .select2-container--krajee-bs4 .select2-selection--multiple .select2-search--inline .select2-search__field {*/
        /*margin-top: 0;*/
        /*height: 35px;*/
    /*}*/

    /*--------prescription form & view---------*/
    .prescription-form, .prescription-view {
        padding: 15px 0;
    }

    .prescription-view .block-info label.min-width {
        min-width: 70px;
    }

    .prescription-view table td {
        white-space: normal;
    }

    .prescription-view .text-sub {
        color: #263238;
    }

    .prescription-view table td {
        padding: 5px;
    }

    .prescription-view table .column-index {
        width: 40px;
    }

    .prescription-view table .column-dosage-form, .prescription-view table .column-amount {
        width: 80px;
    }

    .col-year-age {
        max-width: 150px;
    }

    .col-gender {
        max-width: 175px;
    }

    .col-use-insurance {
        max-width: 200px;
    }

    .col-province, .col-district, .col-ward {
        max-width: 200px;
        padding-left: 0;
    }

    .col-insurance-rate {
        max-width: 140px;
    }

    .col-insurance-number {
        max-width: 300px;
    }

    .cancel-autocomplete {
        right: 5px;
        top: 10px;
    }

    .total-line {
        margin: 15px 0;
    }

    .medicine-item-line {
        border: 1px solid #AFAFAF;
        border-radius: 0;
        box-shadow: none;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .medicine-item-line > .card-body {
        padding-left: 60px;
    }

    .medicine-item-line input[type=number] {
        width: 100px;
    }

    .serial-number {
        line-height: 20px;
        position: absolute;
        left: 10px;
        border: 1px solid #AFAFAF;
        padding: 9px 16px;
        font-size: 12px;
        font-weight: bold;
        border-radius: 8px;
    }

    .remove-item {
        position: absolute;
        right: -1px;
        margin-right: 0 !important;
        bottom: 100%;
        background: #606161;
        font-size: 12px;
        color: #fff;
        font-weight: 400;
        border-radius: 0;
        padding: 2px 22px;
    }

    .form-group label {
        margin-right: 10px;
        font-weight: bold;
    }

    .total-line {
        font-size: 20px;
    }

    .total-line span {
        font-weight: 400;
    }

    .heading-prescription {
        font-size: 20px;
        text-transform: uppercase;
        margin: 20px 0;
    }

    label.small {
        font-size: 14px;
        color: #606161;
        font-weight: 400;
    }

    button.remove-item:hover {
        color: #fff;
    }

    .col-medicine {
        max-width: calc(100% - 130px - 130px);
    }

    .col-dosage-form {
        max-width: 130px;
    }

    .col-amount {
        max-width: 130px;
    }

    .col-time-of-use {
        max-width: 140px;
    }

    .col-drugged-time {
        max-width: 180px;
        padding-left: 0;
    }

    .text-sub {
        color: #263238;
        font-size: 16px;
    }

    .custom-control-label {
        margin-right: 0 !important;
    }

    .custom-control-label::before {
        top: 0;
    }

    .custom-radio .custom-control-label::before {
        border-color: #747474;
        border-radius: 0;
    }

    .custom-control-input:checked ~ .custom-control-label::before,
    .was-validated .custom-control-input:valid:checked ~ .custom-control-label::before,
    .custom-control-input.is-valid:checked ~ .custom-control-label::before {
        border-color: #747474;
        background-color: #747474;
        border-radius: 0;
    }

    .custom-radio .custom-control-input:checked ~ .custom-control-label::after,
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
        background-image: none;
    }

    .sign-space {
        height: 200px;
    }

    .re-examination-date {
        max-width: 200px;
    }

    .content-top a.nav-link {
        font-size: 20px;
    }

    .label-text {
        margin-right: 10px;
    }

    .setting-index ul.nav li a {
        padding: 20px 24px 10px;
        font-size: 20px;
    }

    .re-examination-date input {
        /*border: 0;*/
    }

    .re-examination-date .input-group-text {
        font-size: 14px;
        background: none;
    }

    .re-examination-date .input-group-append, .re-examination-date .input-group-prepend {
        margin: 0;
    }

    .pagination .page-link {
        height: 40px;
        width: 40px;
        font-size: 20px;
        padding: 7.5px 10px;
    }

    /*schedule page*/
    .examination-schedule-index {
        padding: 10px 0;
    }

    .examination-schedule-index h3 {
        font-size: 30px;
        font-weight: bold;
        margin-left: 5px;
        margin-top: 10px;
    }

    .empty-schedule {
        margin-left: 5px;
        font-size: 20px;
    }

    .examination-schedule-index .schedule {
        font-size: 16px;
        height: 100%;
    }

    .div-padding-left {
        padding-left: 20px;
        position: relative;
        margin-bottom: 5px;
    }

    .div-padding-left i, .div-padding-left span {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
    }

    .div-padding-left i {
        font-size: 16px;
    }

    .schedule .label-text {
        margin-bottom: 0;
    }

    .item-store {
        margin: 15px;
        padding: 20px;
        border: 1px solid #afafaf;
        border-radius: 12px;
    }

    .col-image {
        max-width: 120px;
    }
    .store-name{
        font-size: 16px;
    }
    .store-favorite {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 35px;
        color: #00A9A0;
    }

    a.store-favorite.favorited i {
        font-weight: 900;
    }

    .col-info {
        padding-right: 40px;
    }

    /*patient page*/
    .patient-index{
        padding: 10px 0;
        font-size: 16px;
    }
    .patient-item{
        position: relative;
        padding-left: 35px;
        color: #000;
        margin: 35px 0;
    }
    .block-patient{
        border: 1px solid #606161;
        padding: 10px;
        position: relative;
    }
    .patient-index .serial-number{
        padding: 4px 9.5px;
        font-size: 16px;
        line-height: 1.2;
        left:0;
    }
    .view-detail {
        position: absolute;
        right: -1px;
        bottom: 100%;
    }
    .list-prescription{
        margin-top: 40px;
    }
    .list-prescription .item{
        border: 1px solid #606161;
        padding: 10px;
        position: relative;
        padding-left: 20px;
        color: #000;
        margin: 40px 0;
    }
    .list-prescription .item:first-child{
        margin-top: 30px;
    }
    .list-prescription .serial-number{
        padding: 0 5px;
        border: 0;
        left: 0;
        font-size: 16px;
        line-height: 1.2;
        font-weight: bold;
    }
    .patient-view{
        padding: 10px 0;
        font-size: 16px;
        color: #000;
    }
    .block-patient{
        border: 1px solid #606161;
        padding: 10px;
        margin-top: 35px;
        position: relative;
    }
    .right-actions{
        position: absolute;
        right: -5px;
        bottom: 100%;
    }