/* animation */
body {
    font-family: Roboto;
    font-weight: 400;
    color: #000000;
}
.form-control{
    height: 40px;
}
select.form-control{
    padding: 0.25rem;
}
#login-form .input-group-merge .form-control:not(:first-child) {
    padding-left: 10px;
    border-left: 0;
}
#login-form .input-group-prepend{
    margin-right: 0;
}

::-webkit-input-placeholder {
    color: #bec2c5 !important;
}

:-ms-input-placeholder {
    color: #bec2c5 !important;
}
.bg-white {
    background-color: #293846!important;
}
::placeholder {
    color: #bec2c5 !important;
}

* {
    outline: none;
}
.navbar-vertical .navbar-nav .nav-link {
    color: #E3E5E7 !important;
    font-size: 15px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}
div::-webkit-scrollbar-corner {
    background-color: #BFC0C1;
    border-color: #BFC0C1;
}
div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #BFC0C1;
}
div::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #ececec;
}

.table, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color: #000000;
}
.font-small{
    font-size: 12px;
}
.txt-black{
    color: #606161;
}
.text-mute{
    font-size: 12px;
    color: #AFAFAF;
}
.txt-white{
    color: #fff;
}
.bg-gradient-main {
    background: linear-gradient(87deg,#da3e52 0,#f34e63 100%)!important;
}
.bg-login, .bg-main {
    background-color: #1F262F !important;
}
.fill-login {
    fill: #E4B872;
}
.text-main{
    color: #00A9A0 !important;
}
.bg-gradient-header{
    background: #354759;
    border-bottom: solid 1px black;
}
.btn-main:not(:disabled):not(.disabled).active, .btn-main:not(:disabled):not(.disabled):active, .show>.btn-main.dropdown-toggle {
    color: #fff;
    border-color: #e24155;
    background-color: #d93247 !important;
}
.btn-main {
    color: #fff;
    border-color: #00A9A0;
    background-color: #00A9A0;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn-main:hover {
    color: #fff;
    border-color: #00A9A0;
    background-color: #00A9A0;
}
.custom-control-input:checked~.custom-control-label::before{
    border-color: #00A9A0;
    background-color: #00A9A0;
}

.sidenav-header{
    height: auto;
    max-height: 60px;
}
.sidenav .navbar-brand {
    text-align: left;
    width: 100%;
}
.sidenav .navbar-brand img {
    padding: 5px;
    margin-top: 10px;
}
.g-sidenav-hidden .sidenav .navbar-brand img {
    padding: 0px;
    margin-top: 5px;
}
.card-title {
    margin-bottom: 0px !important;
}
.g-sidenav-hidden .sidenav .nav-link-text,
.g-sidenav-hidden .sidenav .nav-link-text::after {
    transition: .3s ease;
    opacity: 0;
}
table tr td.table-actions .btn:not(:last-child) {
    margin-right: 10px !important;
}
.login-page{
    -ms-flex-align: center;
    align-items: center;
    background: #e9ecef;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
}
.login-box{
    width: 360px;
}
.login-logo{
    font-size: 2.1rem;
    font-weight: 300;
    margin-bottom: .9rem;
    text-align: center;
}
.login-card-body{
    background: #fff;
    border-top: 0;
    color: #666;
    padding: 20px;
}
.login-box-msg {
    margin: 0;
    padding: 0 20px 20px;
    text-align: center;
}
.sidenav .navbar-brand {
    padding: 1rem;
}
#frm-search-checkin {
    max-width: 300px;
    margin: 30px auto 0;
}
.navbar-top .navbar-brand{
    display: block !important;
}
.back-to-top {
    position: fixed;
}
.carousel-control-next, .carousel-control-prev{
    width: 30px;
}
.carousel-control-next .material-icons, .carousel-control-prev .material-icons{
    font-size: 50px;
}
.no-dropdown-toggle:after{
    display: none !important;
}
.fz-20px{
    font-size: 20px;
}
.icon-header{
    font-size: 40px;
    width: auto !important;
    height: auto !important;
}
.custom-control-label:after, .custom-control-label:before{
    top: 0;
}
.form-group .form-control.is-valid{
    box-shadow: none !important;
}

.tab-content .tab-pane .td-actions {
    display: table-cell;
}
.bootstrap-timepicker-widget .bootstrap-timepicker-hour.form-control, .bootstrap-timepicker-widget .bootstrap-timepicker-minute.form-control {
    background-image: none;
}
.navbar-search .input-group {
    border-radius: 2rem;
}
.bootstrap-timepicker-widget table td a:hover{
    color: #fff;
    background: #9c27b0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #9c27b0;
}
.no-pointer-events{
    pointer-events: none;
}

form .form-group select.form-control {
    position: static;
    -webkit-appearance: menulist !important;
}
select.form-control option{
    color: #354759;
}
.bmd-form-group .bmd-label-static{
    position: static;
    font-size: 14px;
    line-height: 1.42857;
}

.card-full-height{
    height: calc(100% - 30px);
}

.tab-icon-header h4.card-title{
    border-radius: 3px;
    line-height: 24px;
    padding: 10px 15px;
    margin-top: 0 !important;
}

.tab-icon-header .active h4.card-title{
    background: linear-gradient(60deg,#ec407a,#d81b60);
    color: #fff !important;
}
.nav-pills .nav-item:not(:last-child) {
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
}
.nav-pills .nav-link {
    padding: .35rem 0.7rem;
    color: white;
    background-color: #354759;
    font-weight: normal;
    box-shadow: 0 0px 1px rgb(255 255 255 / 42%);
}
.navbar-search-light .input-group {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(120, 130, 140, .2);
}
.navbar-search-light .input-group-text {
    color: white;
}
.navbar-search-light .focused .input-group {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(120, 130, 140, .2);
    color: white;
}
.navbar-search-light .focused .form-control {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    color: white;
}
    /* ---- END SELECT 2 ----- */
.carousel-control-next, .carousel-control-prev,
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover{
    color: #9c27b0;
    cursor: pointer;
    width: 20px;
}


.filters .input-group .input-group-text{
    padding: 0 5px;
}

.main-content .container-fluid, .main-content .container-lg, .main-content .container-md, .main-content .container-sm, .main-content .container-xl {
    padding-right: 15px!important;
    padding-left: 15px!important;
}
.empty {
    margin-left: 15px;
    text-align: center;
    padding: 20px;
}

.append-btn i{
    font-size: 34px;
}
.block-event-date {
    border-radius: 3px;
    padding: 10px 15px;
    position: absolute !important;
    top: 0;
    opacity: 0.85;
    color: #fff;
}
.block-event-time {
    position: absolute !important;
    opacity: 0.8;
    right: 0;
}
.block-event-date .day, .block-event-date .month {
    display: block;
    text-align: center;
}

.block-event-date .day{
    font-size: 30px;
    font-weight: 600;
    min-width: 50px;
}
.block-event-date .month{
    font-size: 15px;
    font-weight: normal;
}


/* new layout */
.card .table td, .card .table th {
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid rgba(120, 130, 140, .2) !important;
}
.table .thead-light th a {
    color: #ececec;
}
.card .table th {
    padding: 15px 5px;
    background-color: #314253;
    font-size: 15px;
    text-transform: none;
    font-weight: normal;
    color: #ececec;
}
.card-header, .card-body, .card-footer {
    padding: 1rem 1rem;
}
.card-header {
    background-color: #354759;
    border-bottom: 1px solid rgba(120, 130, 140, .2) !important;
}
.card-footer {
    background-color: #354759;
    border-top: 1px solid rgba(120, 130, 140, .2) !important;
}
.form-group {
    margin-bottom: 1rem;
}
.main-content .navbar-top {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
    padding: .275rem 1.5rem .275rem 1.0rem;
}

.input-group > .select2-container--krajee-bs4{
    flex: 1 1;
}

.select2-container.select2-container--krajee-bs4.select2-container--open{
    z-index: 9999;
}
.card {
    background-color: #354759;
    color: white;
    box-shadow: 0 0px 1px rgb(255 255 255 / 42%);
    border-radius: 0px;
}
.ct-label {
    color: white;
    fill: white;
}
.text-muted {
    color: white !important;
}
.card .card-body + .card-footer .stats, .card .card-footer .stats {
    color: rgb(153, 153, 153);
    font-size: 12px;
    line-height: 22px;
}

.navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand>img{
    max-height: 4rem;
}
.copyright {
    font-size: 12px;
    color: #ececec !important;
    opacity: 0.3;
}
.pagination{
    justify-content: center!important;
    margin: 15px 0;
}

.block-top-border{
    border-top: 1px solid rgba(0,0,0,.05);
}

.item-detail {
    margin-bottom: 15px;
    font-size: 14px;
}

.item-label {
    margin-bottom: 5px;
}
.btn-update-absolute{
    position: absolute;
    right: 0;
    top: 10px;
}
.g-sidenav-hidden .sidenav .navbar-brand{
    padding: 0.25rem;
}
.g-sidenav-hidden .sidenav .navbar-brand{
    display: block;
}

/*.custom-control-label::before, .custom-control-label::after {*/
/*left: -1.25rem;*/
/*}*/
/*.custom-control {*/
/*padding-left: 1.25rem;*/
/*}*/

.form-group.row label{
    display: flex;
    margin-bottom: 0;
    align-items: center;
}
.btn-dark{
    background: #455A64;
    color: #fff;
    border-color: #455A64;
    border-radius: 10px;
    padding: 8px 40px;
}











html,
body {
    color: #ffffff;
    background-color: #2E3E4E;
}

.table, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #ececec;
}
h1{
    /*font-size: 60px;*/
}
a{
    color: #fff;
}
a:hover {
    color: #00A9A0;
    text-decoration: none;
}
p{
    margin-bottom: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-50{
    margin-top: 50px;
}
.mt-70{
    margin-top: 70px;
}
.mr-15{
    margin-right: 15px;
}
.alert-primary {
    color: #FFF;
    background-color: #00A9A0;
    border-color: #00A9A0;
}
.alert-danger {
    color: #fff;
    border-color: #f75676;
    background-color: #f75676;
}
/*.btn{
    padding: 13px 74px;
    line-height: 22px;
    font-size: 18px;
    border-radius: 8px;
}*/
.btn-rounded{
    border-radius: 25px;
}
.btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.btn-primary {
    color: #fff;
    border-color: #00A9A0;
    background-color: #00A9A0;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn-primary:hover, .btn-primary:active, .btn-next-schedule:hover, .btn-next-schedule:active{
    color: #fff;
    border-color: #00A9A0;
    background-color: #00A9A0;
}
.btn-dark-blue {
    color: #fff;
    border-color: #455A64;
    background-color: #455A64;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn-dark-blue:hover, .btn-dark-blue:active {
    color: #fff;
    background: #455A64;
}
.btn-orange{
    color: #fff;
    border-color: #F26522;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    background: #F26522;
}
.btn-orange:hover, .btn-orange:active {
    color: #fff;
    background: #F26522;
}
.btn-default{
    border-color: #f7fafc;
    background-color: #f7fafc;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.text-gray {
    color: #afafaf;
}
.text-white{
    color: #fff;
}
.text-black {
    color: #000;
}
.text-primary{
    color: #00A9A0 !important;
}
.text-blue{
    color: #395FE7;
}
.text-orange{
    color: #F26522;
}
.text-dark-blue{
    color: #455A64;
}
.text-mute {
    font-size: 14px;
    color: #AFAFAF;
}
.text-606161{
    color: #606161;
}
.text-light-green{
    color: #18B027;
}
.text-small {
    font-size: 14px;
}
.bg-danger {
    background: #ff0000;
}
.font-weight-medium{
    font-weight: 500 !important;
}
.label-text{
    margin-right: 15px;
    font-weight: bold;
}
.form-control,
.select2-container--krajee-bs4 .select2-selection--multiple {
    border: 1px solid rgba(120, 130, 140, .2);
    background-color: rgba(255, 255, 255, 0.1);
    background-clip: unset;
    box-shadow: none;
    color: white !important;
}
.select2-container--krajee-bs4 .select2-selection{
    background: rgba(255, 255, 255, 0.1) !important;
    color: #fff !important;
    border: 1px solid rgba(120, 130, 140, .2) !important;
}
.select2-container--krajee-bs4 .select2-selection--multiple {
    min-height: 40px;
}
.select2-container--krajee-bs4 .select2-selection--single .select2-selection__rendered{
    color: #fff !important;
}
.select2-container--krajee-bs4.select2-container--open:not(.select2-container--disabled) .select2-selection, .select2-container--krajee-bs4:not(.select2-container--disabled) .select2-selection:focus {
    border-color: rgb(133 139 146) !important;
    box-shadow: 0 0 0 0.2rem rgb(133 139 146 / 25%) !important;
}
.select2-container--krajee-bs4:not(.select2-container--disabled) .select2-dropdown {
    box-shadow: 0 0 0 0.2rem rgb(133 139 146 / 25%) !important;
    border-color: rgb(133 139 146) !important;
    background: #354759 !important;
    padding: 0 !important;
}
.select2-search--dropdown {
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.select2-container--krajee-bs4 .select2-search--dropdown .select2-search__field{
    background-color: rgba(255, 255, 255, 0.1) !important;;
    border-color: rgb(133 139 146) !important;;
    color: #fff !important;;
}
.select2-container--krajee-bs4 .select2-results > .select2-results__options {
    background: rgba(255, 255, 255, 0.1) !important;;
}
.select2-container--krajee-bs4 .select2-results__option[aria-selected] {
    background-color: rgba(255, 255, 255, 0.1) !important;;
    color: #fff !important;;
}
.select2-container--krajee-bs4 .select2-results__option.select2-results__option--selected, .select2-container--krajee-bs4 .select2-results__option[aria-selected=true]{
    color: #fff3cd !important;;
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.select2-container .select2-selection--single:focus, .select2-container--default .select2-search--dropdown .select2-search__field:focus, .select2-container--default .select2-selection--multiple:focus, .select2-container--default.select2-container--focus .select2-selection--multiple:focus{
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.select2-container--krajee-bs4 .select2-selection--single .select2-selection__arrow{
    border-left: 0 !important;
    display: block !important;
}

.select2-container--krajee-bs4.select2-container--disabled .select2-selection, .select2-container--krajee-bs4.select2-container--disabled .select2-selection--multiple .select2-selection__choice{
    background: rgba(255, 255, 255, 0.3) !important;
}


.select2-container .select2-search--inline{
    display: block;
}
.select2-container--krajee-bs4 .select2-selection--multiple .select2-search--inline .select2-search__field{
    color: #fff;
}
.select2-selection--multiple:before {
    content: "";
    position: absolute;
    right: 7px;
    top: 42%;
    border-top: 5px solid #888;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.select2-container--open .select2-selection--multiple:before{
    border-bottom: 5px solid #888;
    border-top: 0;
}
select.is-invalid + .select2-container--krajee-bs4 .select2-selection--single, .has-error.select2-container--krajee-bs4 .select2-dropdown, .has-error .select2-container--krajee-bs4 .select2-selection {
    border-color: #dc3545 !important;
}
.filters .select2-container--krajee-bs4 .select2-selection{
    padding: 0.7rem 1.5rem 0.7rem 0.75rem;
    font-size: .8125rem;
}
.form-control:disabled, .form-control[readonly] {
    pacity: 1;
    background-color: #35353522;
    color: #ececec !important;
}
.form-control:focus {
    outline: 0;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgb(133 139 146);
}

.nav-sidebar > .nav-item {
    margin: 10px 15px;
    position: relative;
}
.navbar-nav .show>.nav-link {
    color: white;
}
.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item:hover {
    background-color: #263441;
}
.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item.active {
    background-color: #354759;
}
.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item.active ul li .nav-link-text{
    color: #9e9e9e;
}
.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item.active ul li.active > a .nav-link-text{
    color: white;
}
.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item {
    padding: 6px;
    color: white;
}
.nav-sidebar .nav-item > .nav-link {
    border-radius: 15px 20px;
    padding: 15px 20px;
}
.btn-danger {
    background-color: #f5365caa !important;
}
.alert-success {
    background-color: #4fd69c80 !important;
}
.nav-sidebar .nav-link img{
    width: 50px;
}
.nav-sidebar .nav-treeview .nav-item > .nav-link{
    padding-left:40px;
}
.nav-sidebar .nav-link p {
    display: inline-flex;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    height: 60px;
    align-items: center;
    vertical-align: middle;
}
.nav-sidebar .nav-treeview .nav-link p {
    font-weight: 400;
    color: #606161;
}

.dashboard {
    padding: 20px 15px;
}
#statistic{
    margin-bottom: 40px;
}
.dashboard h5{
    font-size: 20px;
    color: #000;
    font-weight: 400;
    margin-bottom: 30px;
}
.statistic-block{
    border: 5px solid #EBEBEB;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    visibility: hidden;

}
.statistic-block h6{
    font-size: 24px;
    color: #000;
    font-weight: bold;
}
.statistic-block .count{
    font-weight: bold;
}

/*chart*/
.ct-line {
    stroke: #000;
}
.ct-vertical ~ .ct-vertical {
    stroke: none;
}
.ct-horizontal ~ .ct-horizontal {
    stroke: none;
}
.ct-grid{
    stroke-dasharray: 0;
    stroke: #fff;
}
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #395FE7;
}

/*form*/
.form-group.row label {
    display: flex;
    margin-bottom: 0;
    align-items: center;
}

.readonly{
    pointer-events: none;
}
.readonly .select2-container--krajee-bs4 .select2-selection--single{
    background: rgba(255, 255, 255, 0.3);
}
.datetimepicker table{
    min-width: 15rem;
    font-size: 14px;
}
.datetimepicker table tr td, .datetimepicker table tr th {
    width: 2rem;
    height: 2rem;
}
.view-printed{
    padding: 0 15px;
    min-width: 576px;
}

.cancel-autocomplete {
    position: absolute;
    right: 10px;
    top: 20px;
    display: none;
    z-index: 9999;
    border: 0;
    background: transparent;
}

input:read-only + button.cancel-autocomplete {
    display: block;
    color: #fff;
}

.remove-item {
    position: absolute;
    right: -1px;
    margin-right: 0 !important;
    bottom: 100%;
    background: #606161;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    border-radius: 0;
    padding: 8px 30px;
}

/*--------prescription form & view---------*/
.prescription-form, .prescription-view {
    padding: 15px 0;
}

.prescription-view .block-info label.min-width {
    min-width: 70px;
}

.prescription-view table td {
    white-space: normal;
}

.prescription-view table td {
    padding: 5px;
}

.prescription-view table .column-index {
    width: 40px;
}

.prescription-view table .column-dosage-form, .prescription-view table .column-amount {
    width: 80px;
}

.col-year-age {
    max-width: 150px;
}

.col-gender {
    max-width: 175px;
}

.col-use-insurance {
    max-width: 200px;
}

.col-province, .col-district, .col-ward {
    max-width: 200px;
    padding-left: 0;
}

.col-insurance-rate {
    max-width: 140px;
}

.col-insurance-number {
    max-width: 300px;
}

.cancel-autocomplete {
    right: 5px;
    top: 10px;
}

.total-line {
    margin: 15px 0;
}

.medicine-item-line {
    border: 1px solid #AFAFAF;
    border-radius: 0;
    box-shadow: none;
    margin-top: 40px;
    margin-bottom: 30px;
}

.medicine-item-line > .card-body {
    padding-left: 60px;
}

.medicine-item-line input[type=number] {
    width: 100px;
}

.serial-number {
    line-height: 20px;
    position: absolute;
    left: 10px;
    border: 1px solid #AFAFAF;
    padding: 9px 16px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 8px;
}

.remove-item {
    position: absolute;
    right: -1px;
    margin-right: 0 !important;
    bottom: 100%;
    background: #606161;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    border-radius: 0;
    padding: 2px 22px;
}

.form-group label {
    margin-right: 10px;
    font-weight: bold;
}

.total-line {
    font-size: 16px;
}

.total-line span {
    font-weight: 400;
}

.heading-prescription {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

label.small {
    color: #fff;
    font-weight: 400;
}

button.remove-item:hover {
    color: #fff;
}

.col-medicine {
    max-width: calc(100% - 130px - 130px);
}

.col-dosage-form {
    max-width: 130px;
}

.col-amount {
    max-width: 130px;
}

.col-time-of-use {
    max-width: 180px;
}

.col-drugged-time {
    max-width: 180px;
    padding-left: 0;
}

.text-sub {
    font-size: 16px;
}

.sign-space {
    height: 200px;
}

.re-examination-date {
    max-width: 200px;
}

.content-top a.nav-link {
    font-size: 20px;
}

.label-text {
    margin-right: 10px;
}

.setting-index ul.nav li a {
    padding: 20px 24px 10px;
    font-size: 20px;
}

.re-examination-date input {
    /*border: 0;*/
}

.re-examination-date .input-group-text {
    font-size: 14px;
    background: none;
}

.re-examination-date .input-group-append, .re-examination-date .input-group-prepend {
    margin: 0;
}
.input-group-prepend {
    margin-right: 5px;
}

.pagination .page-link {
    height: 32px;
    width: 32px;
    font-size: 14px;
    padding: 7.5px 10px;
}

/*schedule page*/
.examination-schedule-index {
    padding: 10px 0;
}

.examination-schedule-index h3 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 10px;
}

.empty-schedule {
    margin-left: 5px;
    font-size: 20px;
}

.examination-schedule-index .schedule {
    font-size: 16px;
    height: 100%;
}

.div-padding-left {
    padding-left: 20px;
    position: relative;
    margin-bottom: 5px;
}

.div-padding-left i, .div-padding-left span {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
}

.div-padding-left i {
    font-size: 16px;
}

.schedule .label-text {
    margin-bottom: 0;
}

.item-store {
    margin: 15px;
    padding: 20px;
    border: 1px solid #afafaf;
    border-radius: 12px;
}

.col-image {
    max-width: 120px;
}
.store-name{
    font-size: 16px;
}
.store-favorite {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 35px;
    color: #00A9A0;
}

a.store-favorite.favorited i {
    font-weight: 900;
}

.col-info {
    padding-right: 40px;
}

/*patient page*/
.patient-index{
    padding: 10px 0;
    font-size: 16px;
}
.patient-item{
    position: relative;
    padding-left: 35px;
    color: #000;
    margin: 35px 0;
}
.block-patient{
    border: 1px solid #606161;
    padding: 10px;
    position: relative;
}
.patient-index .serial-number{
    padding: 4px 9.5px;
    font-size: 16px;
    line-height: 1.2;
    left:0;
}
.view-detail {
    position: absolute;
    right: -1px;
    bottom: 100%;
}
.list-prescription{
    margin-top: 40px;
}
.list-prescription .item{
    border: 1px solid #606161;
    padding: 10px;
    position: relative;
    padding-left: 20px;
    color: #000;
    margin: 40px 0;
}
.list-prescription .item:first-child{
    margin-top: 30px;
}
.list-prescription .serial-number{
    padding: 0 5px;
    border: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
}
.patient-view{
    padding: 10px 0;
    font-size: 16px;
    color: #000;
}
.block-patient{
    border: 1px solid #606161;
    padding: 10px;
    margin-top: 35px;
    position: relative;
}
.right-actions{
    position: absolute;
    right: -5px;
    bottom: 100%;
}
.modal-content{
    background: #354759;
}
.modal-header{
    border-bottom: 1px solid rgba(120, 130, 140, .2) !important
}
.close>span:not(.sr-only){
    color: #fff;
}
::-webkit-scrollbar {
    display: none;
}
.table-responsive{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.table-responsive table tr td:first-child {
    padding-left: 5px;
}
.input-group-text{
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(120, 130, 140, .2);
    border-left: 0;
    border-right: 0;
}

.form-header .col-logo{
    max-width: 155px;
    margin-right: 10px;
    padding-right: 0;
}
.view-left-header{
    margin-top: 15px;
}
.form-header{
    margin-bottom: 45px;
}
.prescription-view .form-header .col-logo img{
    height: 125px;
}
.form-header .col-barcode{
    max-width: 310px;
    margin-right: 50px;
    float: right;
}
.prescription-view .form-header .col-barcode img{
    height: 75px;
}
.img-barcode{
    margin-bottom: 15px;
}
.card .prescription-view .table td, .card .prescription-view .table th{
    border: 0 !important;
}
.dropdown > .btn{
    margin: 0;
}
.dropdown-menu .dropdown-item{
    margin: 0;
    color: #fff;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #263441;
}
.dropdown-menu {
    min-width: 7rem;
    background: #354759;
}
.g-sidenav-pinned .sidenav{
    max-width: 200px!important;
}
.g-sidenav-pinned .sidenav.fixed-left+.main-content {
    margin-left: 200px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #4d565f4d !important;
}
.form-group .redactor-box{
    background-color: transparent !important;
}
.form-group .redactor-editor{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(120, 130, 140, .2);
}
.redactor-toolbar {
    background-color: rgba(255, 255, 255, 0.1) !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    width: auto !important;
    visibility: visible !important;
}

.redactor-editor a {
    color: #6193ea !important;
}