@media (max-width: 1199.98px) {
    .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
        padding-right: 10px;
        padding-left: 10px;
    }

    .row {
        margin-right: -10px;
        margin-left: -10px;
    }

    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        padding-right: 10px;
        padding-left: 10px;
    }

    .card-body {
        padding: 15px;
    }
    label {
        margin-bottom: 5px;
    }
    .mb-20{
        margin-bottom: 15px;
    }
    html, body {
        font-size: calc((24px * 60)/100);
    }

    h1{
        font-size: calc((50px * 60)/100);
    }
    .btn{
        padding: 7px 22px;
        line-height: calc((28px * 60)/100);
        font-size: 16px;
        border-radius: 10px;
    }
    .text-mute {
        font-size: 12px;
    }
    .text-small {
        font-size: 12px;
    }
    .label-text{
        margin-right: 10px;
    }

    .navbar-brand{
        max-width: calc((375px * 60)/100);
        padding: calc((10px * 50)/100) calc((25px * 50)/100);
    }
    .navbar-nav .nav-link {
        padding-right: calc((20px * 60)/100);
        padding-left: calc((20px * 60)/100);
    }
    .navbar-expand-md .navbar-nav .dropdown-menu .dropdown-item{
        padding: calc((15px * 60)/100) 20px;
    }
    .form-group input::placeholder, .select2-selection__placeholder{
        font-size: calc((18px * 60)/100);
    }
    /*page login*/
    .login-notification, .site-login{
        max-width: 430px;
    }
    .site-login input::placeholder {
        text-align: center;
        font-size: calc((30px * 60)/100);
    }
    .site-login h1 {
        font-size: calc((45px * 60)/100);
        color: #455A64;
        line-height: calc((51px * 60)/100);
    }
    .site-login h2 {
        margin-top: 0;
        margin-bottom: calc((27px * 60)/100);
        font-size: calc((30px * 60)/100);
        line-height: calc((36px * 60)/100);
        font-weight: bold;
    }
    .site-login .form-control{
        height: calc((72px * 60)/100);
        font-size: calc((30px * 60)/100);
        border-radius: 12px;
        border: 2px solid #DDDDDD;
    }
    .back-to-phone{
        margin-top: calc((80px * 60)/100);
        display: inline-block;
        font-size: calc((22px * 60)/100);
    }
    .site-login button{
        font-size: calc((24px * 60)/100);
        line-height: calc((28px * 60)/100);
        padding: calc((19px * 60)/100) calc((89px * 60)/100);
        margin-top: calc((30px * 60)/100);
    }
    .site-login .request-again{
        margin-top: calc((35px * 60)/100);
        margin-bottom: calc((10px * 60)/100);
    }
    /*page login end*/
    .page-complete-profile{
        max-width: 630px;
        padding: calc((50px * 70)/100);
        margin-top: 15px;
    }
    .page-complete-profile h3{
        font-size: calc((24px * 70)/100);
        line-height: calc((28px * 70)/100);
        margin: calc((30px * 70)/100);
    }
    .avatar {
        display: inline-flex;
        width: calc((64px * 60)/100);
        height: calc((64px * 60)/100);
        color: #fff;
        border-radius: 50%;
        background-color: #adb5bd;
        align-items: center;
        justify-content: center;
        margin-left: calc((14px * 60)/100);
    }
    .logo-header{
        max-width: calc((375px * 60)/100);
    }
    .right-content{
        max-width: calc((375px * 60)/100);
        padding: calc((40px * 40)/100) calc((20px * 40)/100);
    }
    .sidebar {
        max-width: calc((310px * 60)/100);
    }
    .main-content{
        max-width: calc(100% - (((310px * 60)/100) * 1));
    }
    .dashboard-layout .main-content {
        max-width: calc(100% - (310px * 60/100) - (375px * 60/100));
    }
    ul.nav-sidebar{
        padding: calc((17.5px * 40)/100) 0;
    }

    .nav-sidebar > .nav-item {
        margin: calc((15px * 40)/100) calc((25px * 20)/100);
        position: relative;
    }

    .nav-sidebar .nav-item > .nav-link {
        padding: calc((20px * 40)/100) calc((25px * 40)/100);
        border-radius: 15px;
    }
    .nav-sidebar .nav-link img{
        width: calc((60px * 40)/100);
    }
    .nav-sidebar .nav-link p {
        font-size: calc((24px * 60)/100);
        line-height: calc((28px * 60)/100);
        height: calc((56px * 60)/100);
    }

    .dashboard {
        padding: calc((35px * 40)/100) calc((25px * 40)/100);
    }
    #statistic{
        margin-bottom: calc((50px * 60)/100);
    }
    .statistic-block{
        border-width: 3px;
    }
    .statistic-block h6{
        font-size: 18px;
    }
    .statistic-block .count{
        font-size: calc((60px * 60)/100);
        line-height: calc((70px * 60)/100);
    }

    /*form*/
    .form-group .select2-container--krajee-bs4 .select2-selection--single{
        height: 40px;
    }
    .form-group .select2-container--krajee-bs4 .select2-selection--multiple {
        min-height: 40px;
        padding: 0px 10px;
    }
    .form-group .select2-container .select2-search--inline {
        margin: 5px 5px 0 0;
        padding: 0;
    }
    .form-group .select2-container .select2-search--inline .select2-search__field{
        padding: 0 3px;
        height: 25px;
    }
    .form-group .select2-container--krajee .select2-selection--multiple .select2-selection__choice{
        margin: 10px 5px 0 0px;
        padding: 5px 10px;
    }
    .form-group .select2-container--krajee .select2-selection--multiple .select2-selection__choice__remove{
        margin: -1px 0 0 5px;
    }

    .form-group .select2-container--krajee-bs4 .select2-selection--multiple .select2-selection__arrow, .select2-container--krajee-bs4 .select2-selection--single .select2-selection__arrow{
        border: 0;
    }
    .form-group .select2-container--krajee-bs4 .select2-selection--single .select2-selection__rendered {
        padding: 3px 0;
    }

    .was-validated .form-control:valid, .form-control.is-valid, .was-validated .form-control:invalid, .form-control.is-invalid {
        padding-right: 0.75rem;
        background-image: none;
    }

    /*right content*/
    .clinic-name {
        font-size: calc((24px * 60)/100);
        margin-top: calc((25px * 60)/100);
    }
    .btn-next-schedule {
        font-size: calc((24px * 60)/100);
        margin: calc((30px * 60)/100) 0 calc((20px * 60)/100);
    }
    .btn-next-schedule > span{
        height: calc((35px * 60)/100);
        width: calc((35px * 60)/100);
    }
    .block-schedule{
        font-size: calc((24px * 60)/100);
        padding: calc((15px * 60)/100) calc((25px * 60)/100);
        margin-bottom: calc((30px * 60)/100);
    }
    .block-schedule label{
        margin-right: calc((10px * 60)/100);
        margin-bottom: calc((10px * 60)/100);
    }
    .block-schedule p{
        margin-bottom: calc((10px * 60)/100);
    }

    .content-top {
        height: 70px;
        margin-top: calc((15px * 60)/100);
        margin-bottom: calc((15px * 60)/100);
    }
    .content-top.style-primary .input-group-text,
    .content-top.style-primary .navbar-search input{
        font-size: calc((18px * 60)/100);
    }
    .content-top ul.nav{
        margin-left: -15px;
        margin-right: -15px;
    }
    .content-top a.nav-link {
        padding: calc((10px * 60)/100) calc((30px * 60)/100);
    }
    .content-top a.nav-link.active:after,
    .content-top a.nav-link:hover:after {
        left: 20px;
        width: calc((80px * 60)/100);
    }
    .content-top h2{
        font-size: calc((30px * 60)/100);
    }
    /*search box*/
    .navbar-search .input-group{
        max-width: calc((380px * 60)/100);
        width: calc((380px * 60)/100);
    }

    /* profile page */
    .profile-form{
        max-width: 470px;
        margin: calc((50px * 60)/100) auto;
    }

    .setting-index ul.nav li a{
        padding: calc((30px * 60)/100) calc((40px * 60)/100) calc((10px * 60)/100);
        font-size: calc((30px * 60)/100);
    }
    .setting-index a.nav-link.active:after,
    .setting-index a.nav-link:hover:after {
        width: calc((80px * 60)/100);
    }

    .upload-kit .upload-kit-input{
        height: calc((220px * 60)/100);
        background-size: 75px;
    }
    .upload-single .upload-kit .upload-kit-item{
        height: calc((220px * 60)/100);
    }
    .upload-kit .upload-kit-item .remove{
        font-size: calc((30px * 60)/100);
    }

    /* list */
    .prescription-index {
        font-size: calc((18px * 70)/100);
    }
    .list-header{
        margin: calc((40px * 70)/100) 0;
    }
    .prescription-item{
        margin: calc((32px * 70)/100) 0;
    }
    .prescription-item .card-body, .prescription-item .card-header{
        padding: 0.75rem;
        padding-left: calc((20px * 70)/100);
        padding-right: calc((20px * 70)/100);
    }
    .list-header .card-body {
        padding: calc((7px * 70)/100) calc((20px * 70)/100);
    }
    .col-total-amount {
        max-width: calc((140px * 70)/100);
    }
    .col-status {
        max-width: calc((220px * 70)/100);
    }
    .col-provider {
        max-width: calc((150px * 70)/100);
    }
    .col-actions {
        max-width: calc((290px * 70)/100);
    }
    .btn-delete, .btn-update, .btn-expand{
        font-size: calc((24px * 70)/100);
        padding: calc((5px * 70)/100) calc((25px * 70)/100);
        border-radius: 0;
    }
    .btn.btn-print {
        font-size: calc((18px * 70)/100)
    }
    .btn.btn-print img{
        width: 30px;
    }

    /*pagination*/
    .pagination{
        margin-top: 35px;
    }
    .pagination .page-item {
        margin: 0 calc((5px * 60)/100);
    }
    .pagination .page-link{
        padding: 4px 8px;
    }

    .double-icon i+i {
        margin-left: calc((-5px * 60)/100);
    }

    .alert-dismissible .close {
        padding: calc((10px * 60)/100);
    }
    /*schedule page*/
    .examination-schedule-index{
        padding: calc((15px * 60)/100) calc((10px * 60)/100);
    }
    .examination-schedule-index h3{
        font-size: calc((30px * 60)/100);
        margin-left: calc((5px * 60)/100);
        margin-top: calc((10px * 60)/100);
    }
    .empty-schedule{
        margin-left: calc((5px * 60)/100);
        font-size: 16px;
    }
    .examination-schedule-index .schedule{
        font-size: 16px;
        padding: calc((15px * 60)/100);
        border-radius: 15px;
    }
    .div-padding-left{
        padding-left: calc((40px * 60)/100);
        margin-bottom: calc((15px * 60)/100);
    }

    .div-padding-left i{
        font-size: calc((26px * 60)/100);
    }
    .div-padding-left label{
        margin-right: 10px;
    }
    /*favorite store*/
    .item-store{
        margin: calc((30px * 60)/100) calc((20px * 60)/100);
        padding: calc((30px * 60)/100);
    }
    .col-image {
        max-width: calc((120px * 70)/100);
    }
    .store-favorite{
        font-size: calc((35px * 60)/100);
    }
    .col-info{
        padding-right: calc((40px * 70)/100);
    }

    /*--------prescription form & view---------*/
    .prescription-form, .prescription-view {
        padding: calc((20px * 60)/100) 0;
    }

    .prescription-form h1, .prescription-view h1{
        margin: calc((30px * 60)/100) 0 calc((55px * 60)/100);
    }

    .prescription-view .block-info label.min-width {
        min-width: calc((105px * 60)/100);
    }
    .prescription-view table td {
        padding: calc((10px * 60)/100);
    }

    .prescription-view table .column-index {
        width: calc((40px * 60)/100);
    }

    .prescription-view table .column-dosage-form, .prescription-view table .column-amount {
        width: calc((80px * 70)/100);
    }

    .col-year-age {
        max-width: calc((230px * 70)/100);
    }

    .col-gender {
        max-width: calc((260px * 70)/100);
    }

    .col-use-insurance {
        max-width: calc((220px * 70)/100);
    }

    .col-province, .col-district, .col-ward {
        max-width: calc((225px * 70)/100);
    }

    .col-insurance-rate {
        max-width: calc((160px * 70)/100);
    }

    .col-insurance-number {
        max-width: calc((350px * 70)/100);
    }
    .medicine-item-line {
        margin-top: calc((60px * 60)/100);
        margin-bottom: calc((30px * 60)/100);
    }

    .medicine-item-line > .card-body {
        padding-left: calc((80px * 60)/100);
    }

    .serial-number {
        line-height: calc((20px * 60)/100);
        left: calc((10px * 60)/100);
        padding: calc((19px * 60)/100) calc((24px * 60)/100);
        font-size: calc((18px * 60)/100);

    }
    .medicine-item-line .serial-number{
        height: 40px;
        width: 40px;
    }
    .remove-item {
        font-size: calc((18px * 60)/100);
        padding: 2.5px calc((35px * 60)/100);
        border-radius: 0;
    }

    .total-line {
        margin: calc((25px * 60)/100) 0;
    }

    .heading-prescription {
        margin: calc((30px * 60)/100) 0;
    }

    label.small {
        font-size: calc((18px * 60)/100);
    }

    .col-medicine {
        max-width: calc(100% - calc((175px * 70)/100) - calc((175px * 70)/100));
    }

    .col-dosage-form {
        max-width: calc((175px * 70)/100);
    }

    .col-amount {
        max-width: calc((175px * 70)/100);
    }

    .col-time-of-use {
        max-width: calc((220px * 70)/100);
    }

    .col-drugged-time {
        max-width: calc((200px * 70)/100);
    }

    .text-sub {
        font-size: calc((24px * 60)/100);
    }

    .sign-space {
        height: 200px;
    }

    .re-examination-date {
        max-width: calc((250px * 60)/100);
    }
    .re-examination {
        height: 40px;
        margin-top: 20px;
    }

    /*patient page*/
    .patient-index{
        padding: calc((20px * 60)/100);
        font-size: 16px;
    }
    .patient-item{
        padding-left: calc((60px * 60)/100);
        margin: calc((60px * 60)/100) 0;
    }
    .block-patient{
        padding: calc((20px * 60)/100);
    }
    .patient-index .serial-number{
        padding: calc((5px * 60)/100) calc((14px * 60)/100);
        font-size: calc((30px * 60)/100);
        line-height: calc((35px * 60)/100);
    }
    .list-prescription{
        margin-top: calc((40px * 60)/100);
    }
    .list-prescription .item{
        padding: calc((20px * 60)/100);
        padding-left: calc((60px * 60)/100);
        margin: calc((60px * 60)/100) 0;
    }
    .list-prescription .item:first-child{
        margin-top: calc((30px * 60)/100);
    }
    .list-prescription .serial-number{
        padding: 0 calc((5px * 60)/100);
        font-size: calc((30px * 60)/100);
        line-height: calc((35px * 60)/100);
    }

    .patient-view{
        padding: calc((20px * 60)/100);
    }
    .block-patient{
        padding: calc((20px * 60)/100);
        margin-top: calc((50px * 60)/100);
    }
    .right-actions{
        right: calc((-5px * 60)/100);
    }
    .form-header .col-logo{
        max-width: calc((155px * 60)/100);
        margin-right: calc((10px * 60)/100);
    }
    .view-left-header{
        margin-top: calc((15px * 60)/100);
    }
    .form-header{
        margin-bottom: calc((45px * 60)/100);
    }
    .form-header .col-logo .upload-kit .upload-kit-input, .form-header .col-logo .upload-kit .upload-kit-item{
        height: calc((125px * 60)/100);
        background-size: 60px;
    }
    .prescription-view .form-header .col-logo img{
        height: calc((125px * 60)/100);
    }
    .form-header .col-barcode{
        max-width: calc((310px * 60)/100);
        margin-right: calc((50px * 60)/100);
    }

    .form-header .col-barcode .upload-kit .upload-kit-input, .form-header .col-barcode .upload-kit .upload-kit-item{
        height: 75px;
        background-size: 60px;
    }
    .prescription-view .form-header .col-barcode img{
        height: 75px;
    }
    .img-barcode{
        margin-bottom: calc((15px * 60)/100);
    }
}