html,
body {
    height: 100%;
    font-family: 'Roboto';
    font-size: 18px;
    color: #606161;
    line-height: 1.2;
}

/*.error-summary {*/
    /*color: #a94442;*/
    /*background: #fdf7f7;*/
    /*border-left: 3px solid #eed3d7;*/
    /*padding: 10px 20px;*/
    /*margin: 0 0 15px 0;*/
/*}*/
.table, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #000000;
}
.right-2{
    right: 2rem;
}
h1{
    font-size: 60px;
}
a{
    color: #606161;
}
a:hover {
    color: #00A9A0;
    text-decoration: none;
}
a.disabled {
    opacity: 0.3;
    pointer-events: none;
}
p{
    margin-bottom: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-50{
    margin-top: 50px;
}
.mt-70{
    margin-top: 70px;
}
.mr-15{
    margin-right: 15px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.opacity-25{
    opacity: 0.25;
}
.alert-primary {
    color: #FFF;
    background-color: #00A9A0;
    border-color: #00A9A0;
}
.alert-danger {
    color: #fff;
    border-color: #f75676;
    background-color: #f75676;
}
.btn{
    padding: 10px 40px;
    line-height: 28px;
    font-size: 24px;
    border-radius: 12px;
}
.btn-rounded{
    border-radius: 25px;
}
.btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    opacity: 0.7;
}

.btn-primary {
    color: #fff;
    border-color: #00A9A0;
    background-color: #00A9A0;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn-primary:focus, .btn-primary.focus, .btn-primary:hover, .btn-primary:active, .btn-next-schedule:hover, .btn-next-schedule:active{
    color: #fff;
    border-color: #00A9A0;
    background-color: #00A9A0;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn-primary.disabled, .btn-primary:disabled, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
    color: #fff;
    border-color: #00A9A0;
    background-color: #00A9A0;
}

.btn-dark-blue {
    color: #fff;
    border-color: #455A64;
    background-color: #455A64;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn-dark-blue:hover, .btn-dark-blue:active {
    color: #fff;
    background: #455A64;
}
.btn-orange{
    color: #fff;
    border-color: #F26522;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    background: #F26522;
}
.btn-orange:hover, .btn-orange:active {
    color: #fff;
    background: #F26522;
}
.btn-default{
    border-color: #f7fafc;
    background-color: #f7fafc;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.text-gray {
    color: #afafaf;
}
.text-white{
    color: #fff;
}
.text-black {
    color: #000;
}
.text-primary{
    color: #00A9A0 !important;
}
.text-blue{
    color: #395FE7;
}
.text-orange{
    color: #F26522;
}
.text-dark-blue{
    color: #455A64;
}
.text-mute {
    font-size: 14px;
    color: #AFAFAF;
}
.text-606161{
    color: #606161;
}
.text-light-green{
    color: #18B027;
}
.text-small {
    font-size: 14px;
}
.bg-danger {
    background: #ff0000;
}
.font-weight-medium{
    font-weight: 500 !important;
}
.label-text{
    margin-right: 15px;
    font-weight: bold;
}
.form-group {
    margin-bottom: 30px;
}
.form-control{
    border: 1px solid #ddd;
    height: 60px;
    border-radius: 12px;
}
.form-control:focus {
    color: #495057;
    border-color: #00A9A0;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 169 160 / 25%);
}

.navbar-brand{
    max-width: 375px;
    padding: 10px 25px;
}
.navbar-main{
    border-bottom: 1px solid #dddddd;
    padding: 0;
}
.navbar-main .navbar-nav .nav-link{
    color: #fff;
}
.navbar-nav .nav-link {
    color: #000;
    padding-right: 20px;
    padding-left: 20px;
}
.navbar-expand-md .navbar-nav .dropdown-menu {
    right: 0;
    padding: 0;
}
.navbar-expand-md .navbar-nav .dropdown-menu .dropdown-item{
    color: #00A9A0;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0;
    padding: 15px 20px;
}
.navbar-expand-md .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: rgb(0 169 160 / 10%);
}
.form-group input::placeholder, .select2-selection__placeholder{
    color: #afafaf;
    font-size: 18px;
}
/*page login*/
.login-notification{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 10px auto 0;
    padding-left: 10px;
    padding-right: 10px;
}
.login-notification, .site-login{
    max-width: 545px;
}
.site-login input::placeholder {
    text-align: center;
    font-size: 30px;
}
.site-login h1{
    font-size: 45px;
    color: #455A64;
    line-height: 51px;
}
.site-login h2 {
    margin-top: 0;
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}
.site-login .form-control{
    height: 72px;
    font-size: 30px;
    border-radius: 12px;
    border: 2px solid #DDDDDD;
}
.back-to-phone{
    margin-top: 80px;
    display: inline-block;
    font-size: 22px;
}
.site-login button{
    font-size: 24px;
    line-height: 28px;
    padding: 19px 89px;
    margin-top: 30px;
}
.site-login .request-again{
    margin-top: 35px;
    margin-bottom: 10px;
}
/*page login end*/

.page-complete-profile{
    max-width: 630px;
    background: #FFFFFF;
    border: 2px solid #00A9A0;
    border-radius: 17px;
    padding: 50px 50px;
    margin-top: 15px;
}
.page-complete-profile h3{
    font-size: 24px;
    line-height: 28px;
    margin: 30px 0;
}

.doctor-name{
    margin-bottom: 5px;
    color: #263238;
}
.avatar {
    display: inline-flex;
    width: 64px;
    height: 64px;
    color: #fff;
    border-radius: 50%;
    background-color: #adb5bd;
    align-items: center;
    justify-content: center;
    margin-left: 14px;
}
.avatar.rounded-circle img, .rounded-circle {
    border-radius: 50%!important;
}
.avatar img {
    width: 100%;
    height: 100%;
}

.logo-header{
    max-width: 375px;
    margin-left: 0;
}
.navbar-brand{
    margin-right: 0;
}
.right-content{
    max-width: 375px;
    padding: 40px 20px;
}
.sidebar {
    padding: 0;
    max-width: 375px;
}
.main-content{
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    max-width: calc(100% - (375px * 1));
}
.dashboard-layout .main-content {
    max-width: calc(100% - (375px * 2));
}


ul.nav-sidebar{
    padding: 17.5px 0;
}
ul.nav-sidebar .nav-link:hover{
    opacity: 0.8;
    transform: translateY(-1px);
}
.li-bg-dashboard .nav-link{
    background: #FFAA7E !important;
}
.li-bg-dashboard .nav-link:active, .li-bg-dashboard .nav-link:focus{
    box-shadow: 7px 7px 0px rgb(255 170 126 / 40%);
}
.li-bg-create .nav-link{
    background: #00A9A0 !important;
}
.li-bg-create .nav-link:active, .li-bg-create .nav-link:focus{
    box-shadow: 7px 7px 0px rgb(0 169 160 / 40%);
}
.li-bg-prescription .nav-link{
    background: #4087AE !important;
}
.li-bg-prescription .nav-link:active, .li-bg-prescription .nav-link:focus{
    box-shadow: 7px 7px 0px rgb(64 135 174 / 40%);
}
.li-bg-store .nav-link{
    background: #75B2EA !important;
}
.li-bg-store .nav-link:active, .li-bg-store .nav-link:focus{
    box-shadow: 7px 7px 0px rgb(117 178 234 / 40%);
}
.li-bg-schedule .nav-link{
    background: #A992C6 !important;
}
.li-bg-schedule .nav-link:active, .li-bg-schedule .nav-link:focus{
    box-shadow: 7px 7px 0px rgb(169 146 198 / 40%);
}
.li-bg-patient .nav-link{
    background: #51CDE9 !important;
}
.li-bg-patient .nav-link:active, .li-bg-patient .nav-link:focus{
    box-shadow: 7px 7px 0px rgb(81 205 233 / 40%);
}
.li-bg-setting .nav-link{
    background: #C4C4C4 !important;
}
.li-bg-setting .nav-link:active, .li-bg-setting .nav-link:focus{
    box-shadow: 7px 7px 0px rgb(196 196 196 / 40%);
}

.nav-sidebar > .nav-item {
    margin: 12px 25px;
    position: relative;
}

.nav-sidebar .nav-item > .nav-link {
    border-radius: 17px;
    padding: 20px 20px;
}
.nav-sidebar .nav-link img{
    /*width: 50px;*/
}
.nav-sidebar .nav-link p {
    display: inline-flex;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    line-height: 35px;
    height: 70px;
    align-items: center;
    vertical-align: middle;
    margin-left: 5px;
}

.dashboard {
    padding: 35px 25px;
}
#statistic{
    margin-bottom: 50px;
}
/*.dashboard h5{*/
    /*font-size: 20px;*/
    /*color: #000;*/
    /*font-weight: 400;*/
    /*margin-bottom: 30px;*/
/*}*/
.statistic-block{
    border: 5px solid #EBEBEB;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    visibility: hidden;
    max-width: 250px;
    margin: 0 auto;
}
.statistic-block h6{
    font-size: 30px;
    color: #000;
    font-weight: bold;
}
.statistic-block .count{
    font-size: 60px;
    font-weight: bold;
    line-height: 70px;
}

/*chart*/
.ct-line {
    stroke: #000;
}
.ct-vertical ~ .ct-vertical {
    stroke: none;
}
.ct-horizontal ~ .ct-horizontal {
    stroke: none;
}
.ct-grid{
    stroke-dasharray: 0;
    stroke: #000;
}
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #395FE7;
}

/*form*/
.form-group.row label {
    display: flex;
    margin-bottom: 0;
    align-items: center;
}
.form-group .select2-container--krajee-bs4 .select2-selection{
    border-radius: 12px;
}
.form-group .select2-container--krajee-bs4 .select2-selection--single{
    height: 60px;
}
.form-group .select2-container--krajee-bs4 .select2-selection--multiple {
    min-height: 60px;
    padding: 0px 15px;
}
.form-group .select2-container .select2-search--inline {
    margin: 10px 5px 0 0;
    padding: 0;
}
.form-group .select2-container .select2-search--inline .select2-search__field{
    width: 100% !important;
    background: transparent;
    padding: 0 3px;
    height: 40px;
    margin-top: 0;
    color: #999;
}
.form-group .select2-container--krajee .select2-selection--multiple .select2-selection__choice{
    margin: 10px 5px 0 0px;
    padding: 5px 10px;
}
.form-group .select2-container--krajee .select2-selection--multiple .select2-selection__choice__remove{
    margin: -1px 0 0 5px;
}

.form-group .select2-container--krajee-bs4 .select2-selection--multiple .select2-selection__arrow, .select2-container--krajee-bs4 .select2-selection--single .select2-selection__arrow{
    border: 0 !important;
}
.form-group .select2-container--krajee-bs4.select2-container--open:not(.select2-container--disabled) .select2-selection, .form-group .select2-container--krajee-bs4:not(.select2-container--disabled) .select2-selection:focus {
    border-color: #ddd;
    box-shadow: none;
}
.form-group .select2-container--krajee-bs4:not(.select2-container--disabled) .select2-dropdown{
    border-color: #ddd;
    box-shadow: none;
}
.form-group .select2-container--krajee-bs4 .select2-selection--single .select2-selection__rendered {
    padding: 2px 0;
}

.select2-container--krajee-bs4:not(.select2-container--disabled) .select2-dropdown, .modal-open .select2-container--krajee-bs4:not(.select2-container--disabled) .select2-dropdown {
    box-shadow: none;
    border-color: #ddd;
}
.was-validated .form-control:valid, .form-control.is-valid, .was-validated .form-control:invalid, .form-control.is-invalid {
    padding-right: 0.75rem;
    background-image: none;
}
/*input::-webkit-input-placeholder { !* Edge *!*/
    /*font-size: 14px;*/
/*}*/
/*input:-ms-input-placeholder { !* Internet Explorer 10-11 *!*/
    /*font-size: 14px;*/
/*}*/
/*input::placeholder {*/
    /*font-size: 14px;*/
/*}*/
/*list view scroll*/
.ias-noneleft {
    display: none !important;
}

/*right content*/
.clinic-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 25px;
}
.btn-next-schedule {
    border: 1px solid #606161;
    background: #fff;
    border-radius: 17px;
    padding: 7px;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    display: block;
    text-align: center;
    margin: 30px 0 20px;
}
.btn-next-schedule > span{
    color: #fff;
    height: 35px;
    width: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    bottom: 50%;
    right: 0px;
}
.block-schedule{
    font-size: 24px;
    color: #747474;
    font-weight: 400;
    padding: 15px 25px;
    background: #CAF5FF;
    margin-bottom: 30px;
    border-radius: 17px;
}
.block-schedule:nth-child(even){
    background: #FEFFDE;
}
.block-schedule label{
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 10px;
}
.block-schedule p{
    margin-bottom: 10px;
}
.block-schedule p.note{
    color: #395FE7;
}
.block-schedule:nth-child(even) p.note{
    color: #FF0000;
}
.content-top {
    position: absolute;
    bottom: 100%;
    height: 113px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    width: 100%;
}
.content-top.style-primary{
    background: #00A9A0;
}
.content-top.style-primary .input-group-text,
.content-top.style-primary .navbar-search input{
    border-color: #fff;
    color: #fff;
    background: #00A9A0;
    font-size: 18px;
}
.content-top.style-primary .navbar-search input::-webkit-input-placeholder { /* Edge */
    color: #fff;
}
.content-top.style-primary .navbar-search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}
.content-top.style-primary .navbar-search input::placeholder {
    color: #fff;
}
.content-top ul.nav{
    margin-left: -15px;
    margin-right: -15px;
}
.content-top a.nav-link.active,
.content-top a.nav-link:hover {
    color: #fff;
    display: block;
}
.content-top a.nav-link {
    display: block;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    padding: 10px 30px;
}
.content-top a.nav-link.active:after,
.content-top a.nav-link:hover:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    border-bottom: 3px solid #FF0000;
    width: 80px;
}
.content-top h2{
    font-size: 45px;
}
/*search box*/
.navbar-search .input-group{
    max-width: 380px;
    width: 380px;
}
.navbar-search .input-group-text{
    background: #fff;
    border-top-right-radius: 12px !important;
    border-left: 0;
    border-bottom-right-radius: 12px !important;
}
.navbar-search input{
    border-right: 0;
}
.navbar-search input:focus{
    border-color: #ddd;;
    box-shadow: none;
}

/* profile page */
.profile-form{
    max-width: 800px;
    margin: 50px auto;
}
.setting-index ul.nav {
    border: 1px solid #e6e6e6;
    border-left: 0;
    border-top: 0;
}
.setting-index ul.nav li a{
    padding: 25px 40px 10px;
    font-size: 24px;
    position: relative;
    color: #afafaf;
}
.setting-index ul.nav li a.active, .setting-index ul.nav li a:hover{
    color: #616161;
}
.setting-index a.nav-link.active:after,
.setting-index a.nav-link:hover:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-bottom: 3px solid #FF0000;
    width: 80px;
    color: #616161;
}
h6.label-group{
    font-size: 24px;
    font-weight: bold;
}
/*upload item*/
.upload-kit{
    display: flex;
    flex-flow: wrap;
}
.upload-kit .upload-kit-input, .upload-single .upload-kit .upload-kit-item{
    border: 2px solid #ddd;
}
.upload-kit .upload-kit-input{
    min-width: 100%;
    height: 220px;
    margin-right: 0;
    order: 1;
    background: url("../img/bg-upload-input.png") no-repeat center center;
}
.upload-single .upload-kit .upload-kit-item{
    min-width: 100%;
    height: 220px;
    margin-right: 0;

}
.upload-kit .upload-kit-item {
    border: 0;
    min-width: auto;
}
.upload-kit .files{
    float: none;
    order: 2;
    width: 100%;
}
.upload-kit .upload-kit-input .drag, .upload-kit .upload-kit-input .add{
    display: none;
}
.upload-kit .upload-kit-item .remove{
    background: none;
    color: #ff0000;
    font-weight: 400;
    font-size: 30px;
    display: block;
}
.upload-kit .upload-kit-item.image > img {
    border-radius: 0;
}
.profile-form .col-gender{
    max-width: 150px;
}
.profile-form .col-year-of-birth{
    max-width: 150px;
}

/* list */
.prescription-index {
    font-size: 18px;
}
.list-header{
    margin: 40px 0;
}
.prescription-item{
    margin: 32px 0;
}
.prescription-item .card-body, .prescription-item .card-header{
    padding: 0.75rem;
    padding-left: 20px;
    padding-right: 20px;
}
.list-header{
    background: #E6E6E6;
    border: 0;
    border-radius: 0;
}
.list-header .card-body {
    padding: 7px 20px;
}
.col-total-amount {
    max-width: 140px;
}
.col-status {
    max-width: 220px;
}
.col-provider {
    max-width: 150px;
}
.col-actions {
    max-width: 290px;
}
.btn-update{
    background: #00A9A0;
}
.btn-delete{
    background: #606161;
}
.btn-expand{
    background: #F26522;
}
.btn-delete, .btn-update, .btn-expand{
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    border-radius: 0;
    padding: 5px 30px;
}
.btn-delete:hover, .btn-update:hover, .btn-expand:hover{
    color: #fff;
}
.btn.btn-print {
    padding: 0;
    font-size: 18px;
    border: 0;
    color: #263238;
}
.btn.btn-print img{
    margin-right: 5px;
}
.btn.btn-print:hover, .btn.btn-print:active {
    box-shadow: none;
}

/*pagination*/
.pagination{
    margin-top: 20px;
    justify-content: center;
    /*margin-bottom: 50px;*/
}
.pagination .page-item {
    margin: 0 5px;
}
.pagination .page-link{
    color: #747474;
    height: 40px;
    width: 40px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 5px 10px;
}
.page-item.active .page-link {
    color: #fff;
    background-color: #00A9A0;
    border-color: #00A9A0;
    border-radius: 100%;
}
.page-item:hover .page-link {
    color: #fff;
    background-color: #00A9A0;
    border-color: #00A9A0;
    border-radius: 100%;
}
.pagination .page-item.disabled{
    display: none;
}

.double-icon i+i {
    margin-left: -5px;
}
.prescription-form input[type=number]{
    text-align: center;
}

.alert-dismissible .close {
    padding: 10px;
    margin-right: 10px;
}
.alert-dismissible {
    margin-top: 20px;
}
.readonly{
    pointer-events: none;
}
.readonly .select2-container--krajee-bs4 .select2-selection--single{
    background: #e9ecef;
}
.datetimepicker table{
    min-width: 15rem;
    font-size: 14px;
}
.datetimepicker table tr td, .datetimepicker table tr th {
    width: 2rem;
    height: 2rem;
}
.view-printed{
    min-width: 576px;
    padding: 15px;
}
/*schedule page*/
.examination-schedule-index{
    padding: 15px 10px;
}
.examination-schedule-index h3{
    font-size: 25px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 10px;
}
.empty-schedule{
    margin-left: 5px;
    font-size: 20px;
}
.examination-schedule-index .schedule{
    font-size: 20px;
    height: 100%;
    padding: 15px;
    border: 1px solid #606161;
    border-radius: 17px;
}
.div-padding-left{
    padding-left: 40px;
    position: relative;
    margin-bottom: 15px;
}

.div-padding-left i, .div-padding-left span{
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 30px;
}
.div-padding-left i{
    font-size: 26px;
}
.div-padding-left label{
    margin-right: 15px;
}
/*favorite store*/
.item-store{
    margin: 30px 20px;
    padding: 30px;
    /*border: 1px solid #afafaf;*/
    /*border-radius: 12px;*/
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
}
.col-image {
    max-width: 120px;
}
.store-name{
    font-size: 30px;
}
.store-favorite{
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 35px;
    color: #00A9A0;
}
a.store-favorite.favorited i{
    font-weight: 900;
}
.col-info{
    padding-right: 40px;
}

/*--------prescription form & view---------*/
.prescription-form, .prescription-view {
    padding: 20px 0;
}

.prescription-form h1, .prescription-view h1{
    margin: 30px 0 55px;
}

.prescription-view .block-info label.min-width {
    min-width: 105px;
}
.prescription-view table td {
    white-space: normal;
}

.prescription-view .text-sub {
    color: #263238;
}

.prescription-view table td {
    padding: 10px;
}

.prescription-view table .column-index {
    width: 40px;
}

.prescription-view table .column-dosage-form, .prescription-view table .column-amount {
    width: 80px;
}

.col-year-age {
    max-width: 230px;
}

.col-gender {
    max-width: 260px;
}

.col-use-insurance {
    max-width: 220px;
}

.col-province, .col-district, .col-ward {
    max-width: 225px;
    padding-left: 0;
}

.col-insurance-rate {
    max-width: 160px;
}

.col-insurance-number {
    max-width: 350px;
}

.cancel-autocomplete {
    position: absolute;
    right: 10px;
    top: 15px;
    display: none;
    z-index: 9999;
    border: 0;
    background: transparent;
}

input:read-only + button.cancel-autocomplete {
    display: block;
}

.medicine-item-line {
    border: 1px solid #AFAFAF;
    border-radius: 0;
    box-shadow: none;
    margin-top: 60px;
    margin-bottom: 30px;
}

.medicine-item-line > .card-body {
    padding-left: 80px;
}

.serial-number {
    line-height: 20px;
    position: absolute;
    left: 10px;
    border: 1px solid #AFAFAF;
    padding: 19px 24px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
}

.remove-item {
    position: absolute;
    right: -1px;
    margin-right: 0 !important;
    bottom: 100%;
    background: #606161;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    border-radius: 0;
    padding: 2.5px 35px;
}

.form-group label {
    margin-right: 15px;
    font-weight: bold;
}

.total-line {
    font-size: 30px;
    margin: 25px 0;
}

.total-line span {
    font-weight: 400;
}

.heading-prescription {
    font-size: 30px;
    text-transform: uppercase;
    margin: 30px 0;
    font-weight: 600;
}

label.small {
    font-size: 18px;
    color: #606161;
    font-weight: 400;
}

button.remove-item:hover {
    color: #fff;
}

.col-medicine {
    max-width: calc(100% - 175px - 175px);
}

.col-dosage-form {
    max-width: 175px;
}

.col-amount {
    max-width: 175px;
}

.col-time-of-use {
    max-width: 220px;
}

.col-drugged-time {
    max-width: 200px;
    padding-left: 0;
}

.text-sub {
    color: #263238;
    font-size: 24px;
}

.custom-control-label {
    margin-right: 0 !important;
}

.custom-control-label::before {
    top: 0;
}

.custom-radio .custom-control-label::before {
    border-color: #747474;
    border-radius: 0;
}

.custom-control-input:checked ~ .custom-control-label::before,
.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before,
.custom-control-input.is-valid:checked ~ .custom-control-label::before {
    border-color: #747474;
    background-color: #747474;
    border-radius: 0;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none;
}

.sign-space {
    height: 200px;
}

.re-examination-date {
    max-width: 250px;
}
.re-examination {
    height: 40px;
    margin-top: 20px;
}
/*autocomplete*/
.ui-menu .ui-menu-item-wrapper{
    padding:10px;
}
#ajaxCrubModal .modal-footer{
    border-top: 0;
}
/*patient page*/
.patient-index{
    padding: 20px;
    font-size: 20px;
}
.patient-item{
    position: relative;
    padding-left: 60px;
    color: #000;
    margin: 60px 0;
}
.block-patient{
    border: 1px solid #606161;
    padding: 20px;
    position: relative;
}
.patient-index .serial-number{
    padding: 5px 14px;
    top: 0;
    left: 0;
    border-radius: 0;
    border-color: #606161;
    font-size: 30px;
    line-height: 35px;
    font-weight: 400;
    text-align: center;
}
.view-detail {
    position: absolute;
    right: -1px;
    bottom: 100%;
}
.list-prescription{
    margin-top: 40px;
}
.list-prescription .item{
    border: 1px solid #606161;
    padding: 20px;
    position: relative;
    padding-left: 60px;
    color: #000;
    margin: 60px 0;
}
.list-prescription .item:first-child{
    margin-top: 30px;
}
.list-prescription .serial-number{
    padding: 0 5px;
    border: 0;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
}
.view-detail {
    position: absolute;
    right: 0;
    bottom: 100%;
}
.patient-view{
    padding: 20px;
    font-size: 20px;
    color: #000;
}
.block-patient{
    border: 1px solid #606161;
    padding: 20px;
    margin-top: 50px;
    position: relative;
}
.btn-expand {
    background: #F26522;
    position: absolute;
    right: 0;
    bottom: 100%;
}
.right-actions{
    position: absolute;
    right: -5px;
    bottom: 100%;
}
.form-header .col-logo{
    max-width: 155px;
    margin-right: 10px;
    padding-right: 0;
}
.view-left-header{
    margin-top: 15px;
}
.form-header{
    margin-bottom: 45px;
}
.form-header .col-logo .upload-kit .upload-kit-input, .form-header .col-logo .upload-kit .upload-kit-item{
    height: 125px;
    margin: 0;
    min-width: 100%;
}
.prescription-view .form-header .col-logo img{
    height: 125px;
}
.form-header .col-logo .upload-kit .upload-kit-input{
    background: url("../img/bg-upload-logo.png") no-repeat center center;
    background-size: 75px;
}
.form-header .col-barcode{
    max-width: 310px;
    margin-right: 50px;
    float: right;
}
.form-header .col-barcode .upload-kit{
    margin-bottom: 15px;
}
.form-header .col-barcode .upload-kit .upload-kit-input{
    background: url("../img/bg-upload-barcode.png") no-repeat center center;
    background-size: 75px;
}
.form-header .col-barcode .upload-kit .upload-kit-input, .form-header .col-barcode .upload-kit .upload-kit-item{
    height: 75px;
    min-width: 100%;
    margin: 0;
}
.prescription-view .form-header .col-barcode img{
    height: 75px;
}
.img-barcode{
    margin-bottom: 15px;
}
.kv-editable-popover .form-control{
    height: 40px;
}
.kv-editable-popover .btn-sm{
    padding: 0.25rem 0.5rem;
}
.kv-editable-value{
    text-align: left;
}

/*search*/
.input-center form{
    justify-content: center !important;
}

.select2-selection--multiple:before {
    content: "";
    position: absolute;
    right: 7px;
    top: 42%;
    border-top: 5px solid #888;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.select2-container--open .select2-selection--multiple:before{
    border-bottom: 5px solid #888;
    border-top: 0;
}
.select2-container--krajee-bs4 .select2-selection--single .select2-selection__arrow b{
    border-width: 5px 4px 0 4px;
}
.select2-container--krajee-bs4.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-width: 0 4px 5px 4px;
}

.site-login img {
    max-width: 250px !important;
}

.before-feedback-list{
    text-align: right;
    padding: 30px 0;
}
.feedback-item {
    position: relative;
    color: #000;
    margin: 60px 0;
    border: 1px solid #606161;
    padding: 20px;
    margin-top: 50px;
}
.feedback-title{
    font-size: 20px;
    margin-bottom: 15px;
}
.feedback-date{
    color: #606161;
    text-align: right;
}
.dropdown-item {
    font-size: .875rem;
    padding: .5rem 1rem;
}
.dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus{
    color: #fff;
    border-color: #00A9A0;
    background-color: #00A9A0;
}

.navbar-main .dropdown-menu{
    right: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.center-radio.custom-control-label::before {
    top: 0;
    bottom: 0;
    left: -1.25rem;
    margin: auto;
}

.field-sel-store{
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px !important;
}
.form-content {
    max-width: calc(100% - 340px);
}
.space-right{
    max-width: 340px;
    padding-top: 20px;
}
.space-right h5{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000;
}
ul.feature-nav {
    margin: 18px 0;
}
.feature-tab{
    padding: 8px 5px;
}
.active.feature-tab{
    background: #F0F0F0;
}
.product-item {
    border: 1px solid #afafaf;
    padding: 15px;
    border-radius: 7px;
    margin: 20px 0;
}
.product-name {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
img.product-img {
    max-height: 150px;
    display: block;
    margin: auto;
}
.product-link{
    float: right;
    color: #00A9A0;
}
p.no-product {
    margin: 10px 5px 20px;
    font-style: italic;
}

.carousel-indicators li{
    border: 1px solid #afafaf;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.5;
}
.carousel-indicators .active {
    opacity: 1;
    background: #00A9A0;
}