@import url("original.css");
@import url("extra_large.css");
@import url("large.css");
@import url("medium.css");

@media (max-width: 767.98px) {
    .btn{
        padding: 6px 20px;
    }

    .navbar-brand{
    }
    .navbar-brand img{
        height: 50px;
    }
    .main-content{
        max-width: 100%;
    }
    .dashboard-layout .main-content {
        max-width: calc(100% - (((375px * 50)/100) * 1));
    }
    .sidebar {
        z-index: 9999;
        height: 100%;
        position: absolute;
        left: 0;
        transform: translateX(-250px);
        transition: transform 250ms ease-in-out;
        background: #fff;
        height: auto;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
    .sidebar.show{
        transform: translateX(0);
    }
    .site-login{
        max-width: 370px;
    }
    .content-top {
        position: static;
        height: 65px;
        margin-top: 0;
        width: auto;
    }
    .content-top h2{
        font-size: calc((30px * 40)/100);
    }
    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        z-index: 99;
        padding: 2px 2px;
        width: 32px;
        margin-left: 15px;
    }
    .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #00A9A0;
    }
    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 6px;
    }
    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
    }
    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 6px;
    }

    .sidebarIconToggle[aria-expanded="true"] .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }
    .sidebarIconToggle[aria-expanded="true"] .diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
    }
    .sidebarIconToggle[aria-expanded="true"] .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -12px;
    }


}

@media (max-width: 575.98px) {
    .text-small {
        font-size: 10px;
    }
    .main-content{
        border: 0;
    }
    .dashboard-layout .main-content, .right-content{
        max-width: 100%;
        width: 100%;
    }

    .statistic-block {
        border-width: 3px;
        max-width: 250px;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .form-group input::placeholder, .select2-selection__placeholder{
        font-size: calc((18px * 60)/100);
    }
    /*page login*/

    .site-login input::placeholder {
        text-align: center;
        font-size: calc((30px * 60)/100);
    }
    .site-login h1 {
        font-size: calc((45px * 60)/100);
        color: #455A64;
        line-height: calc((51px * 60)/100);
    }
    .site-login h2 {
        margin-top: 0;
        margin-bottom: calc((27px * 60)/100);
        font-size: calc((30px * 60)/100);
        line-height: calc((36px * 60)/100);
        font-weight: bold;
    }
    .site-login .form-control{
        height: calc((72px * 60)/100);
        font-size: calc((30px * 60)/100);
        border-radius: 12px;
        border: 2px solid #DDDDDD;
    }
    .back-to-phone{
        margin-top: calc((80px * 60)/100);
        display: inline-block;
        font-size: calc((22px * 60)/100);
    }
    .site-login button{
        font-size: calc((24px * 60)/100);
        line-height: calc((28px * 60)/100);
        padding: calc((19px * 60)/100) calc((89px * 60)/100);
        margin-top: calc((30px * 60)/100);
    }
    .site-login .request-again{
        margin-top: calc((35px * 60)/100);
        margin-bottom: calc((10px * 60)/100);
    }
    /*page login end*/

    .dashboard {
        padding: calc((35px * 40)/100) calc((25px * 40)/100);
    }
    #statistic{
        margin-bottom: calc((50px * 60)/100);
    }
    .statistic-block{
        border-width: 3px;
    }
    .statistic-block h6{

    }
    .statistic-block .count{
        font-size: calc((60px * 60)/100);
        line-height: calc((70px * 60)/100);
    }

    /*form*/
    .form-group .select2-container--krajee-bs4 .select2-selection--single{
        height: 40px;
    }
    .form-group .select2-container--krajee-bs4 .select2-selection--multiple {
        min-height: 40px;
        padding: 0px 10px;
    }
    .form-group .select2-container .select2-search--inline {
        margin: 5px 5px 0 0;
        padding: 0;
    }
    .form-group .select2-container .select2-search--inline .select2-search__field{
        padding: 0 3px;
        height: 25px;
    }
    .form-group .select2-container--krajee .select2-selection--multiple .select2-selection__choice{
        margin: 10px 5px 0 0px;
        padding: 5px 10px;
    }
    .form-group .select2-container--krajee .select2-selection--multiple .select2-selection__choice__remove{
        margin: -1px 0 0 5px;
    }

    .form-group .select2-container--krajee-bs4 .select2-selection--multiple .select2-selection__arrow, .select2-container--krajee-bs4 .select2-selection--single .select2-selection__arrow{
        border: 0;
    }
    .form-group .select2-container--krajee-bs4 .select2-selection--single .select2-selection__rendered {
        padding: 3px 0;
    }

    .was-validated .form-control:valid, .form-control.is-valid, .was-validated .form-control:invalid, .form-control.is-invalid {
        padding-right: 0.75rem;
        background-image: none;
    }

    /*right content*/
    .clinic-name {
        font-size: calc((24px * 60)/100);
        margin-top: calc((25px * 60)/100);
    }
    .btn-next-schedule {
        font-size: calc((24px * 60)/100);
        margin: calc((30px * 60)/100) 0 calc((20px * 60)/100);
    }
    .btn-next-schedule > span{
        height: calc((35px * 60)/100);
        width: calc((35px * 60)/100);
    }
    .block-schedule{
        font-size: calc((24px * 60)/100);
        padding: calc((15px * 60)/100) calc((25px * 60)/100);
        margin-bottom: calc((30px * 60)/100);
    }
    .block-schedule label{
        margin-right: calc((10px * 60)/100);
        margin-bottom: calc((10px * 60)/100);
    }
    .block-schedule p{
        margin-bottom: calc((10px * 60)/100);
    }

    .content-top.style-primary .input-group-text,
    .content-top.style-primary .navbar-search input{
        font-size: calc((18px * 60)/100);
    }
    .content-top ul.nav{
        margin-left: -15px;
        margin-right: -15px;
    }
    .content-top a.nav-link {
        padding: calc((10px * 60)/100) calc((30px * 60)/100);
    }
    .content-top a.nav-link.active:after,
    .content-top a.nav-link:hover:after {
        left: 20px;
        width: calc((80px * 60)/100);
    }
    /*search box*/
    .navbar-search .input-group{
        max-width: calc((380px * 50)/100);
        width: calc((380px * 50)/100);
    }

    /* profile page */
    .profile-form{
        max-width: 470px;
        margin: calc((50px * 60)/100) auto;
    }

    .setting-index ul.nav li a{
        padding: calc((30px * 60)/100) calc((40px * 60)/100) calc((10px * 60)/100);
        font-size: calc((30px * 60)/100);
    }
    .setting-index a.nav-link.active:after,
    .setting-index a.nav-link:hover:after {
        width: calc((80px * 60)/100);
    }

    .upload-kit .upload-kit-input{
        height: calc((220px * 60)/100);
        background-size: 75px;
    }
    .upload-single .upload-kit .upload-kit-item{
        height: calc((220px * 60)/100);
    }
    .upload-kit .upload-kit-item .remove{
        font-size: calc((30px * 60)/100);
    }

    /* list */
    .prescription-index {
        font-size: calc((18px * 70)/100);
    }
    .list-header{
        margin: calc((40px * 70)/100) 0;
    }
    .prescription-item{
        margin: calc((32px * 70)/100) 0;
    }
    .prescription-item .card-body, .prescription-item .card-header{
        padding: 0.75rem;
        padding-left: calc((20px * 70)/100);
        padding-right: calc((20px * 70)/100);
    }
    .list-header .card-body {
        padding: calc((7px * 70)/100) calc((20px * 70)/100);
    }
    .col-total-amount {
        max-width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }
    .col-status {
        max-width: 100%;
        margin-bottom: 10px;
    }
    .col-provider {
        max-width: 100%;
        margin-bottom: 10px;
    }
    .col-actions {
        max-width: 100%;
    }
    .btn-delete, .btn-update, .btn-expand{
        font-size: calc((24px * 70)/100);
        padding: calc((5px * 70)/100) calc((25px * 70)/100);
        border-radius: 0;
    }
    .btn.btn-print {
        font-size: calc((18px * 70)/100)
    }
    .btn.btn-print img{
        width: 30px;
    }

    /*--------prescription form & view---------*/
    .prescription-form, .prescription-view {
        padding: calc((20px * 60)/100) 0;
    }

    .prescription-form h1, .prescription-view h1{
        margin: calc((30px * 60)/100) 0 calc((55px * 60)/100);
    }

    .prescription-view .block-info label.min-width {
        min-width: 0;
    }
    .prescription-view table td {
        padding: calc((10px * 50)/100);
    }

    .prescription-view table .column-index {
        width: calc((40px * 50)/100);
    }

    .prescription-view table .column-dosage-form, .prescription-view table .column-amount {
        width: calc((80px * 70)/100);
    }

    .col-year-age {
        max-width: 50%;
    }

    .col-gender {
        max-width: 50%;
    }

    .col-use-insurance {
        max-width: calc((220px * 70)/100);
    }

    .col-province, .col-district, .col-ward {
        max-width: 50%;
    }

    .col-insurance-rate {
        max-width: calc((160px * 70)/100);
    }

    .col-insurance-number {
        max-width: calc((350px * 70)/100);
    }

    .serial-number {
        line-height: calc((20px * 60)/100);
        left: calc((10px * 60)/100);
        padding: calc((19px * 60)/100) calc((24px * 60)/100);
        font-size: calc((18px * 60)/100);

    }
    .remove-item {
        font-size: calc((18px * 60)/100);
        padding: 2.5px calc((35px * 60)/100);
        border-radius: 0;
    }

    .total-line {
        margin: calc((25px * 60)/100) 0;
    }

    .heading-prescription {
        margin: calc((30px * 60)/100) 0;
    }

    label.small {
        font-size: calc((18px * 60)/100);
    }

    .col-medicine {
        max-width: 100%;
    }

    .col-dosage-form {
        max-width: 50%;
    }

    .col-amount {
        max-width: 50%;
    }

    .col-time-of-use {
        max-width: 50%;
    }

    .col-drugged-time {
        max-width: 50%;
    }

    .text-sub {
        font-size: calc((24px * 60)/100);
    }

    .sign-space {
        height: 150px;
    }

    .re-examination-date {
        max-width: calc((250px * 60)/100);
    }
    .re-examination {
        height: 40px;
        margin-top: 20px;
    }

    /*patient page*/
    .patient-index{
        padding: calc((20px * 60)/100);
        font-size: 16;
    }
    .patient-item{
        padding-left: calc((60px * 60)/100);
        margin: calc((60px * 60)/100) 0;
    }
    .block-patient{
        padding: calc((20px * 60)/100);
    }
    .patient-index .serial-number{
        padding: calc((5px * 60)/100) calc((14px * 60)/100);
        font-size: calc((30px * 60)/100);
        line-height: calc((35px * 60)/100);
    }
    .list-prescription{
        margin-top: calc((40px * 60)/100);
    }
    .list-prescription .item{
        padding: calc((20px * 60)/100);
        padding-left: calc((60px * 60)/100);
        margin: calc((60px * 60)/100) 0;
    }
    .list-prescription .item:first-child{
        margin-top: calc((30px * 60)/100);
    }
    .list-prescription .serial-number{
        padding: 0 calc((5px * 60)/100);
        font-size: calc((30px * 60)/100);
        line-height: calc((35px * 60)/100);
    }

    .patient-view{
        padding: 0;
    }
    .block-patient{
        padding: calc((20px * 60)/100);
        margin-top: calc((50px * 70)/100);
    }
    .right-actions{
        right: calc((-5px * 60)/100);
    }
    .form-header .col-logo{
        max-width: calc((155px * 60)/100);
        margin-right: 0;
    }
    .view-left-header{
        margin-top: calc((15px * 60)/100);
    }
    .form-header{
        margin-bottom: calc((45px * 60)/100);
    }
    .form-header .col-logo .upload-kit .upload-kit-input, .form-header .col-logo .upload-kit .upload-kit-item{
        height: calc((125px * 60)/100);
        background-size: 60px;
    }
    .prescription-view .form-header .col-logo img{
        height: calc((125px * 60)/100);
    }
    .form-header .col-barcode{
        max-width: calc((310px * 50)/100);
        margin-right: 0;
    }

    .form-header .col-barcode .upload-kit .upload-kit-input, .form-header .col-barcode .upload-kit .upload-kit-item{
        height: 75px;
        background-size: 60px;
    }
    .prescription-view .form-header .col-barcode img{
        height: 75px;
    }
    .img-barcode{
        margin-bottom: calc((15px * 60)/100);
    }
    span.view-time-drug {
        display: block;
    }
}